<section class="insta-slider">
	<div class="container">
		<div class="row d-flex flex-column">
			<div class="main-title">Мы <br> в Instagram</div>
			<div class="soc">
				<a href="" class="soc__item vk"></a>
				<a href="" class="soc__item fb"></a>
				<a href="" class="soc__item inst"></a>
			</div>
		</div>
	</div>
	<div class="insta-slider__slider">
		<div class="insta-slider__slide"  style="background-image: url('assets/images/bottom1.png');">
			<a href="" class="like">
				234
			</a>
		</div>
		<div class="insta-slider__slide"  style="background-image: url('assets/images/bottom2.png');">
			<a href="" class="like">
				122
			</a>
		</div>
		<div class="insta-slider__slide" style="background-image: url('assets/images/bottom3.png');">

			<a href="" class="like">432
			</a>
		</div>
		<div class="insta-slider__slide" style="background-image: url('assets/images/bottom4.png');">
			<a href="" class="like">122
			</a>
		</div>
		<div class="insta-slider__slide"  style="background-image: url('assets/images/bottom1.png');">
			<a href="" class="like">
				234
			</a>
		</div>
		<div class="insta-slider__slide" style="background-image: url('assets/images/bottom2.png');">
			<a href="" class="like">
				122
			</a>
		</div>
		<div class="insta-slider__slide" style="background-image: url('assets/images/bottom3.png');">
			<a href="" class="like">432
			</a>
		</div>
		<div class="insta-slider__slide"  style="background-image: url('assets/images/bottom4.png');">
			<a href="" class="like">122
			</a>
		</div>
	</div>
</section>
