.insta-slider {
	display: block;
	width: 100%;
	clear: both;
	overflow: hidden;
	padding-top: 70px;
	position: relative;
	padding-bottom: 144px;
	background: radial-gradient(66.22% 549.22% at 95% 25%, #fff7e1 0%, rgba(255, 255, 255, 0) 100%), #f9f3f3;

	.container {
		z-index: 2;
		position: relative;
	}

	&::before {
		content: '';
		position: absolute;
		z-index: 1;
		width: 372px;
		height: 285px;
		background-image: url('../images/in-inst-bg.png');
		background-position: center;
		background-repeat: no-repeat;
		-webkit-background-size: 100%;
		background-size: 100%;
		bottom: -1px;
		left: 27.06%;

		@media (min-width: 1440px) {
			left: 33.06%;
		}

		@media (min-width: 1920px) {
			left: 37.06%;
		}
	}

	.main-title {
		width: 400px;
		margin-bottom: 23px;
		margin-top: 35px;

		@media (max-width: 991px) {
			width: 100%;
			margin-top: 0;
			margin-bottom: 10px;

			br {
				display: none;
			}
		}
	}

	&__slider {
		width: 59.37%;
		max-width: 855px;
		display: flex;
		flex-wrap: wrap;
		position: absolute;
		right: 0;
		top: 70px;
		z-index: 2;

		@media (max-width: 1199px) {
			width: 55.37%;
		}

		@media (max-width: 991px) {
			position: relative;
			left: 0;
			top: unset;
			width: 100%;
			max-width: unset;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.slick-arrow {
			width: 60px;
			height: 60px;
			bottom: 0;
			top: unset;
			background-position: center;
			-webkit-background-size: 100%;
			background-size: 100%;
			background-repeat: no-repeat;
			position: relative;
			left: unset;
			right: unset;
			margin-top: 62px;
			margin-left: 10px;

			@media (max-width: 991px) {
				width: 40px;
				height: 40px;
				margin-top: 50px;
			}

			@media (max-width: 767px) {
				width: 35px;
				height: 35px;
				margin-top: 40px;
			}

			&::before {
				content: none;
			}
		}

		.slick-prev {
			background-image: url(../images/icons/arrow-prev.svg);
			order: 2;
			margin-left: 205px;

			@media (max-width: 991px) {
				margin-left: 0;
			}
		}

		.slick-next {
			background-image: url(../images/icons/prev-next.svg);
			order: 3;
		}
	}

	&__slide {
		position: relative;
		width: 192px;
		height: 192px;
		overflow: hidden;
		display: flex !important;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border-radius: 15px;
		text-decoration: none;
		color: #fff;
		font-weight: bold;
		font-size: 16px;
		letter-spacing: 0.03em;
		margin-left: 5.65px;
		margin-right: 5.65px;
		background-position: center;
		-webkit-background-size: cover;
		background-size: cover;
		background-repeat: no-repeat;

		&::before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
			background: linear-gradient(180deg, rgba(76, 13, 91, 0.67) 0%, rgba(76, 13, 91, 0) 100%);
			border-radius: 15px;
			overflow: hidden;
		}

		img {
			position: absolute;
			min-width: 100%;
			min-height: 100%;
			z-index: 1;
			border-radius: 15px;
			transition: opacity 0.3s;
			display: block;
		}

		a {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			z-index: 3;
			width: 100%;
			height: 100%;
			color: #fff;
			border-radius: 15px;

			&::before {
				content: "";
				background-image: url('../images/icons/like-white.svg');
				width: 23.36px;
				height: 23.36px;
				background-position: center;
				background-repeat: no-repeat;
				-webkit-background-size: 100%;
				background-size: 100%;
				display: block;
				margin-right: 4.75px;
			}
		}

		@media (max-width: 991px) {
			width: 150px;
			height: 150px;
		}

		@media (max-width: 575px) {
			width: 120px;
			height: 120px;
		}
	}

	@media (max-width: 991px) {
		padding-top: 40px;
		padding-bottom: 100px;

		.soc {
			margin-bottom: 20px;
		}
	}

	@media (max-width: 767px) {
		padding-bottom: 70px;
	}

	@media (max-width: 575px) {
		padding-top: 30px;
		padding-bottom: 40px;

		.like {
			font-size: 12px;
		}
	}
}
