.register-header {
	display: block;

	.swiper-arrow {
		display: none;
	}

	.inner-header__slider {
		margin-left: 0;

		@media (max-width: 991px) {
			padding-left: 15px;
			padding-right: 0;
		}

		@media (max-width: 767px) {
			margin-left: -10px;
			padding-left: 0;
		}
	}

	.login-link {
		color: transparentize($purple, 0.7);

		@media (max-width: 991px) {
			margin-left: 10px;
			margin-right: 10px;
		}

		&.active {
			color: $purple;
		}
	}
}
