<section class="inner-header inner-header__product inner-header--login register-header"
		 style="background-image: url(assets/images/favorite-bg.png)">
	<div class="container">
		<div class="row">
			<ul class="breadcrumbs">
				<li>
					<a href="">Главная</a>
				</li>
				<li>
					<a href="">Мой Аккаунт</a>
				</li>
				<li>
					<span>Избранное</span>
				</li>

			</ul>
			<div class="inner-header__category">
				<div class="row">
					<a href="" class="back"></a>
					<div class="main-title">
						Регистрация
					</div>
					<div class="inner-header__slider swiper-slider">
						<div class="swiper-arrow swiper-prev">
							<i></i>
						</div>
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<a href="" class="swiper-slide login-link active">Физическое  лицо</a>
								<a href="" class="swiper-slide login-link">Юридическое лицо</a>
							</div>
						</div>
						<div class="swiper-arrow swiper-next">
							<i></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
