<section class="dispatch-page">
	<div class="container">
		<div class="row">
			<div class="col-12 d-flex flex-wrap">
				<div class="favorite-page__title">
					Общая сумма Ваших заказов: <span>2300 руб</span>
				</div>
				<div class="favorite-page__title">
					Ваша скидка: <span>5%</span>
				</div>
			</div>
			<div class="col-12 d-flex flex-column dispatch-page__text">
				<div class="dispatch-page__title">
					Система скидок
				</div>
				<p><b>Исходя из суммы сделанных заказов за последние 365 дней:</b></p>
				<span><b>Физическое лицо</b></span>
				<span>1000 рублей - <b>2 %</b></span>
				<span>5000 рублей - <b>4 %</b></span>
				<span>15000 рублей - <b>7 %</b></span>
				<span>30000 рублей - <b>12 %</b></span>

			</div>
		</div>
	</div>
</section>
