.dispatch-page {
	padding-top: 40px;
	padding-bottom: 30px;
	margin-bottom: -20px;
	background: radial-gradient(66.22% 549.22% at 95% 25%, #fff7e1 0%, rgba(255, 255, 255, 0) 100%), #f9f3f3;

	@media (max-width: 767px) {
		padding-top: 30px;
		padding-bottom: 20px;
	}

	&__title {
		font-weight: bold;
		font-size: 50px;
		line-height: 100%;
		margin-bottom: 20px;

		@media (max-width: 991px) {
			font-size: 34px;
		}

		@media (max-width: 767px) {
			font-size: 28px;
			margin-bottom: 10px;
		}

		@media (max-width: 767px) {
			font-size: 22px;
		}
	}

	&__text {
		color: $purple;
		font-size: 15px;
		line-height: 180%;
		font-weight: 500;

		@media (max-width: 575px) {
			font-size: 14px;
		}

		p {
			margin-bottom: 35px;

			@media (max-width: 991px) {
				margin-bottom: 20px;
			}
		}

		span {
			display: block;
			margin-bottom: 10px;
		}
	}
}
