<section class="cart-page favorite-page">
	<div class="container">
		<div class="row">
			<div class="col-12 d-flex flex-wrap">
				<div class="favorite-page__title">
					Общая сумма Ваших заказов: <span>2300 руб</span>
				</div>
				<div class="favorite-page__title">
					Ваша скидка: <span>5%</span>
				</div>
			</div>
			<div class="col-12 cart__items">
				<div class="cart__item">
					<a href="" class="cart__img">
						<img src="assets/images/cart1.png" alt="">
					</a>
					<div class="cart__desc">
						<div class="cart__info">
							<a href="" class="cart__category">Категория: Фрукты, Хиты продаж</a>
							<a href="" class="cart__name">
								<b>Гранат,</b> Эквадор
							</a>
							<div class="cart__weight">Вес: 1 кг</div>
						</div>
						<div class="counter">
							<div class="counter__min"></div>
							<div class="counter__text">
								<input type="text" value="1 кг" data-step="1">
							</div>
							<div class="counter__plus"></div>
						</div>
						<div class="cart__price">10,00 руб</div>
						<div class="close"></div>
					</div>
				</div>
				<div class="cart__item">
					<a href="" class="cart__img">
						<img src="assets/images/cart2.png" alt="">
					</a>
					<div class="cart__desc">
						<div class="cart__info">
							<a href="" class="cart__category">Категория: Фрукты, Хиты продаж</a>
							<a href="" class="cart__name">
								<b>Киви,</b> Эквадор
							</a>
							<div class="cart__weight">Вес: 200 г</div>
						</div>
						<div class="counter">
							<div class="counter__min"></div>
							<div class="counter__text">
								<input type="text" value="200 г" data-step="200">
							</div>
							<div class="counter__plus"></div>
						</div>
						<div class="cart__price">10,00 руб</div>
						<div class="close"></div>
					</div>
				</div>
				<div class="cart__item">
					<a href="" class="cart__img">
						<img src="assets/images/cart3.png" alt="">
					</a>
					<div class="cart__desc">
						<div class="cart__info">
							<a href="" class="cart__category">Категория: Фрукты, Хиты продаж</a>
							<a href="" class="cart__name">
								<b>Грейпфрут,</b> Эквадор
							</a>
							<div class="cart__weight">Вес: 340 г</div>
						</div>
						<div class="counter">
							<div class="counter__min"></div>
							<div class="counter__text">
								<input type="text" value="1 кг" data-step="1">
							</div>
							<div class="counter__plus"></div>
						</div>
						<div class="cart__price">10,00 руб</div>
						<div class="close"></div>
					</div>
				</div>
			</div>
			<div class="col-12 cart__end">
				<div class="col-12">
					<div class="row">
						<div class="cart__coupon">
							<div class="form__item">
								<input type="text" placeholder="Код купона">
							</div>
							<div class="btn">ОК</div>
						</div>
						<div class="cart__delivery">
							<div class="form__item form__item--check">
								<label class="checkbox">Самовывоз
									<input type="radio" name="delivery">
									<span class="checkmark"></span>
								</label>
							</div>
							<div class="form__item form__item--check">
								<label class="checkbox">Доставка по Минску: 5.00 Br
									<input type="radio" checked="checked" name="delivery">
									<span class="checkmark"></span>
								</label>
							</div>

							<div class="form__item form__item--check">
								<label class="checkbox">Доставка за пределы МКАД (до 20км): 10.00 Br
									<input type="radio" name="delivery">
									<span class="checkmark"></span>
								</label>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="cart__final-price">
							<p>Итого: 100,00 руб</p>
							<div class="btn">Оформить заказ</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
