.cart-page {
	display: block;
}

.cart {
	&__items {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-top: 40px;
		margin-bottom: 22px;
	}

	&__item {
		width: 100%;
		display: flex;
		margin-bottom: 20px;

		@media (max-width: 991px) {
			flex-direction: column;
			align-items: center;
			justify-content: center;
			position: relative;
			width: 450px;
			max-width: 100%;
			margin-left: auto;
			margin-right: auto;

			.close {
				position: absolute;
				right: 18px;
			}
		}
	}

	&__img {
		border-radius: 24px;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		width: 255px;
		position: relative;

		@media (max-width: 1199px) {
			width: 200px;
		}

		@media (max-width: 991px) {
			width: 100%;
			max-width: 100%;
			margin-bottom: 20px;
		}

		img {
			min-width: 100%;
			min-height: 100%;
			display: block;
			position: absolute;

			@media (max-width: 991px) {
				position: relative;
			}
		}
	}

	&__desc {
		width: calc(100% - 285px);
		align-items: center;
		margin-left: 30px;
		display: flex;
		background: #fff;
		border-radius: 24px;
		padding-top: 30px;
		padding-bottom: 34px;
		padding-left: 60px;
		padding-right: 24px;
		color: $purple;

		@media (max-width: 1199px) {
			width: calc(100% - 230px);
		}

		@media (max-width: 991px) {
			margin-left: 0;
			width: 100%;
			max-width: 100%;
			flex-wrap: wrap;
			padding: 20px;
			padding-right: 38px;
			flex-direction: column;
			align-items: flex-start;
		}

		.counter {
			margin: 0;
			margin-bottom: 15px;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		margin-right: auto;
		width: 300px;
		max-width: 100%;

		@media (max-width: 991px) {
			margin-bottom: 15px;
			width: 100%;
		}
	}

	&__category {
		margin-bottom: 11px;
		opacity: 0.4;
		font-size: 16px;
		letter-spacing: 0.03em;

		@media (max-width: 767px) {
			font-size: 14px;
		}
	}

	&__name {
		margin-bottom: 10px;
		font-size: 20px;
		letter-spacing: 0.03em;

		@media (max-width: 767px) {
			font-size: 18px;
		}
	}

	&__weight {
		font-size: 16px;
		font-weight: bold;

		@media (max-width: 767px) {
			font-size: 14px;
		}
	}

	&__price {
		margin-left: 15px;
		margin-right: 15px;
		width: 200px;
		text-align: center;
		font-weight: 800;
		font-size: 30px;
		letter-spacing: 0.03em;

		@media (max-width: 991px) {
			margin: 0;
			text-align: left;
		}

		@media (max-width: 767px) {
			font-size: 24px;
		}
	}

	&__end {
		width: 100%;
		margin-bottom: 40px;

		@media (max-width: 991px) {
			width: 450px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__coupon {
		width: 441px;
		display: flex;
		margin-right: 31px;
		align-items: flex-start;
		flex-wrap: wrap;

		@media (max-width: 991px) {
			width: 450px;
			margin-left: auto;
			margin-right: auto;
			max-width: 100%;
			margin-bottom: 15px;
		}

		@media (max-width: 350px) {
			flex-direction: column;
			align-items: flex-start;
		}

		input {
			&::placeholder {
				opacity: 1 !important;
				font-weight: 500;
				font-size: 14px;
				line-height: 100%;
			}
		}

		.form__item {
			width: 350px;
			width: calc(100% - 93px);
			margin-bottom: 0;

			@media (max-width: 991px) {
				width: calc(100% - 95px);
			}

			@media (max-width: 350px) {
				width: 100%;
				margin-bottom: 10px;
			}
		}

		.btn {
			max-width: 85px;
			margin-left: 8px;
			padding: 15px 30px;

			@media (max-width: 350px) {
				margin-left: 0;
			}
		}

		.basket-coupon-alert {
			width: 100%;
		}
	}

	&__final-price {
		margin-left: auto;
		display: flex;
		flex-direction: column;
		align-items: flex-end;

		p {
			font-weight: 800;
			font-size: 30px;
			color: $purple;
			margin-bottom: 25px;

			@media (max-width: 575px) {
				font-size: 24px;
				margin-bottom: 15px;
			}
		}
	}
}
