.howItWork-block {
	overflow: hidden;

	.row {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}

	&__img {
		max-width: 100%;

		img {
			max-width: 100%;
		}
	}

	&__bg {
		background-image: url(../images/icons/howItWork-bg.svg);
		-webkit-background-size: 100%;
		background-size: 100%;
		position: absolute;
		z-index: 1;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		top: 200px;
		background-repeat: no-repeat;

		@media (max-width: 991px) {
			display: none;
		}
	}

	&__text {
		margin-left: auto;
		margin-right: auto;
		width: 285px;
		max-width: 100%;
	}

	&__item {
		color: $purple;
		width: 382px;
		max-width: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		z-index: 2;

		@media (max-width: 991px) {
			margin-bottom: 20px;
		}

		p {
			margin-bottom: 9px;
			font-size: 16px;
			text-align: center;
			font-weight: bold;
		}

		span {
			color: #402a14;
			font-size: 15px;
			text-align: center;
			display: block;
		}

		&.one {
			margin: 0 auto;

			.howItWork-block__text {
				margin-top: -75px;

				@media (max-width: 991px) {
					margin-top: -50px;
				}
			}

			@media (max-width: 991px) {
				order: 1;
			}
		}

		&.two {
			position: absolute;
			right: -30px;

			@media (max-width: 1199px) {
				right: -80px;
			}

			@media (max-width: 991px) {
				right: unset;
				position: relative;
				order: 2;
			}
		}

		&.three {
			position: absolute;
			left: -30px;

			@media (max-width: 1199px) {
				left: -60px;
			}

			@media (max-width: 991px) {
				left: unset;
				position: relative;
				order: 3;
			}
		}

		&.four {
			flex-direction: column-reverse;
			margin: 0 auto;

			@media (max-width: 991px) {
				flex-direction: column;
				margin-bottom: 30px;
				margin-top: -45px;
				order: 4;
			}

			.howItWork-block__text {
				margin-bottom: -45px;

				@media (max-width: 991px) {
					margin-bottom: 0;
					margin-top: -10px;
				}
			}
		}
	}

	&__about {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin-bottom: 60px;
		margin-top: 30px;
		z-index: 2;

		@media (max-width: 991px) {
			order: 5;
			margin-top: 0;
			margin-bottom: 40px;
		}

		.main-title {
			margin-bottom: 8px;
		}
	}
}
