<section class="howItWork-block">
	<div class="container">
		<div class="row">
			<div class="howItWork-block__item one">
				<div class="howItWork-block__img">
					<img src="assets/images/icons/howWork1.svg" alt="">
				</div>
				<div class="howItWork-block__text">
					<p>Обсуждение заказа</p>
					<span>После составления заказа на сайте наш менеджер свяжется с Вами</span>
				</div>
			</div>
			<div class="howItWork-block__item two">
				<div class="howItWork-block__img">
					<img src="assets/images/icons/howWork2.svg" alt="">
				</div>
				<div class="howItWork-block__text">
					<p>Заключение договора</p>
					<span>Вы заключаете договор с нами всего один раз. Последующие корректировки можете обсудить с нами устно</span>
				</div>
			</div>

			<div class="howItWork-block__item three">
				<div class="howItWork-block__img">
					<img src="assets/images/icons/howWork3.svg" alt="">
				</div>
				<div class="howItWork-block__text">
					<p>Оплата</p>
					<span>Оплата производится всего один раз в конце месяца по безналичному расчёту. Закажите пробную доставку
					</span>
				</div>
			</div>
			<div class="howItWork-block__about">
				<div class="main-title">О сервисе</div>
				<a  data-fancybox data-src="#request-popup" class="btn">Предложить сотрудничество</a>
			</div>
			<div class="howItWork-block__item four">
				<div class="howItWork-block__img">
					<img src="assets/images/icons/howWork4.svg" alt="">
				</div>
				<div class="howItWork-block__text">
					<p>Доставка</p>
					<span>В понедельник и среду к оговоренному времени мы привозим в Ваш офис свежие и отборные фрукты</span>
				</div>
			</div>

			<div class="howItWork-block__bg"></div>

		</div>
	</div>
</section>
