.footer {
	background-color: $purple;
	padding-top: 30px;
	clear: both;

	a {
		color: #fff;
		text-decoration: none;
		font-size: 15px;
		transition: opacity 0.3s;
	}

	&__items {
		width: 100%;
	}

	&__logo {
		width: 87px;
		margin-right: 38px;
		display: block !important;

		img {
			width: 100%;
		}

		@media (max-width: 1199px) {
			margin-right: 18px;
		}

		@media (max-width: 991px) {
			margin-right: 0;
		}

		@media (max-width: 575px) {
			margin-bottom: 15px !important;
		}
	}

	&__phone {
		display: flex;
		flex-direction: column;
		margin-right: 58px;

		@media (max-width: 1199px) {
			margin-right: 28px;
		}

		@media (max-width: 991px) {
			margin-right: 0;
		}

		@media (max-width: 575px) {
			align-items: center;
			margin-bottom: 10px;
		}

		a {
			margin-left: 28px;
			display: block;

			@media (max-width: 575px) {
				margin-left: 0;
			}
		}

		&-icon {
			margin-left: 0 !important;
			position: relative;

			@media (max-width: 575px) {
				margin-left: -28px !important;
			}

			&::before {
				content: "";
				width: 18px;
				height: 18px;
				background-image: url(../images/icons/phone.svg);
				background-position: center;
				-webkit-background-size: 100%;
				background-size: 100%;
				background-repeat: no-repeat;
				margin-right: 10px;
			}
		}
	}

	&__left {
		display: flex;
		align-items: flex-start;

		@media (max-width: 991px) {
			justify-content: space-between;
			margin-bottom: 20px;
		}

		@media (max-width: 575px) {
			flex-direction: column;
			align-items: center;
		}

		a {
			display: flex;
			font-weight: 500;
			margin-bottom: 6px;
		}
	}

	&__menu {
		ul {
			column-count: 3;

			@media (max-width: 575px) {
				column-count: 2;
			}

			@media (max-width: 375px) {
				column-count: 1;
			}

			li {
				margin-bottom: 7px;

				@media (max-width: 575px) {
					text-align: center;
				}

				a {
					font-weight: 600;
				}
			}
		}
	}

	&__soc {
		@media (max-width: 575px) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	.soc {
		padding-top: 4px;

		&__item {
			width: 30px;
			height: 30px;
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}

			&.vk {
				background-image: url(../images/icons/vk-white.svg);
			}

			&.fb {
				background-image: url(../images/icons/fb-white.svg);
			}

			&.inst {
				background-image: url(../images/icons/inst-white.svg);
			}
		}
	}

	.copyright {
		background-color: #fff;
		padding-top: 9px;
		padding-bottom: 9px;
		margin-top: 50px;
		color: $purple;

		.container {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;

			@media (max-width: 991px) {
				justify-content: space-between;
			}

			@media (max-width: 767px) {
				flex-direction: column;
			}

			img {
				position: absolute;
				left: 0;

				@media (max-width: 991px) {
					position: relative;
				}

				@media (max-width: 767px) {
					margin-bottom: 10px;
				}
			}
		}

		&__link {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		p {
			margin-right: 14px;
			font-size: 16px;
			line-height: 19px;
			display: block;
			font-weight: 500;

			@media (max-width: 575px) {
				font-size: 14px;
				line-height: 24px;
			}

			@media (max-width: 375px) {
				font-size: 12px;
				line-height: 22px;
			}
		}

		a {
			text-decoration: none;
			color: $purple;
			font-weight: 500;
			font-size: 16px;
			line-height: 19px;
			display: block;

			@media (max-width: 575px) {
				font-size: 14px;
				line-height: 24px;
			}

			@media (max-width: 375px) {
				font-size: 12px;
				line-height: 22px;
			}
		}
	}
}
