<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="footer__items d-flex flex-wrap">
				<div class="col-md-12 col-lg-6 footer__left">
					<a href="" class="footer__logo">
						<img src="assets/images/logo-footer.png" alt="">
					</a>
					<div class="footer__phone">
						<a href="" class="footer__phone-icon">+ 375 (29) 343-55-44</a>
						<a href="">+ 375 (33) 343-55-44</a>
					</div>
					<div class="footer__soc">
						<a href="">info@fru.by</a>
						<div class="soc">
							<a href="" class="soc__item vk"></a>
							<a href="" class="soc__item fb"></a>
							<a href="" class="soc__item inst"></a>
						</div>
					</div>
				</div>
				<div class="col-md-12 col-lg-6 footer__menu">
					<ul>
						<li><a href="">Каталог</a></li>
						<li><a href="">Контакты</a></li>
						<li><a href="">Отзывы</a></li>
						<li><a href="">Как это работает</a></li>
						<li><a href="">Доставка</a></li>
						<li><a href="">Фрукты</a></li>
						<li><a href="">Овощи</a></li>
						<li><a href="">Сухофрукты</a></li>
						<li><a href="">Боксы</a></li>
						<li><a href="">Другое</a></li>
						<li><a href="">Способы оплаты</a></li>
						<li><a href="">Мы в соц. сетях</a></li>
						<li><a href="">FAQ</a></li>
						<li><a href="">О сервисе</a></li>
						<li><a href="">Личный кабинет</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid copyright">
		<div class="row">
			<div class="container">
				<img src="assets/images/pay.png" alt="">
				<div class="copyright__link">
					<p>© 2009-2020</p>
					<a href="//imedia.by">Разработка: <span>Imedia Solutions</span></a>
				</div>
			</div>
		</div>
	</div>
</footer>
@@include('../dialogs/dialogs.html')
@@include('../link/link.html')
