<section class="pay-page">

	<div class="container">
		<div class="row">
			<div class="col-lg-6 pay-page__item">
				<div class="dispatch-page__title">
					Безналичными
					способами

				</div>
				<p class="text-left">
					<b>Оплата банковской картой</b>
					Если вы получаете товар с курьером, то можете оплатить товар <br> банковской картой. Обязательное условие
					– согласуйте метод оплаты с <br> менеджером заранее. Если вы забираете товар самовывозом, то оплата <br>
					товара может также производиться через платежный терминал с <br> помощью банковской карты.
				</p>
				<p class="text-right">
					<b>Мы принимаем платежи по следующим банковским картам</b>
					Visa, Visa Electron, MasterCard, Maestro, Белкарт
				</p>
				<p class="text-right">
					Вы можете рассчитаться картами рассрочки,<br>
					оформить покупку в кредит до 48 месяцев<br>
					либо рассрочку на полгода.
				</p>
				<img src="assets/images/pay.png" class="pay" alt="">

				<div class="pay-page__item-bg left">
					<img src="assets/images/icons/pay-img2.svg" alt="">
				</div>
			</div>
			<div class="col-lg-6 pay-page__item pay-page__item--second">
				<div class="dispatch-page__title text-right">
					Наличными способами
				</div>
				<p class="text-right">
					<b>Наличными курьеру</b>
					Вы отдаете деньги курьеру, который привозит товар. <br> Вместе с товаром курьер передает вам кассовый
					чек, <br> свидетельствующие о покупке. Внимание! Если вам <br> нужен товарный чек (с определением НДС),<br>
					делайте запрос предварительно.


				</p>
				<div class="pay-page__item-bg">
					<img src="assets/images/icons/pay-img1.svg" alt="">
				</div>
			</div>
		</div>
	</div>

</section>
