.pay-page {
	overflow: hidden;

	@media (max-width: 991px) {
		background: radial-gradient(66.22% 549.22% at 95% 25%, #fff7e1 0%, rgba(255, 255, 255, 0) 100%), #f9f3f3;

		.container {
			padding: 0 15px;
		}
	}

	&__item {
		color: $purple;
		padding: 44px 15px 34px;
		display: flex;
		flex-direction: column;
		margin-bottom: 30px;
		padding-right: 30px;

		@media (max-width: 991px) {
			padding-bottom: 0;
			margin-bottom: 0;
		}

		@media (max-width: 991px) {
			padding-right: 15px;
		}

		.dispatch-page__title {
			margin-bottom: 30px;
			position: relative;
			z-index: 2;

			@media (max-width: 991px) {
				margin-bottom: 20px;
			}

			@media (max-width: 767px) {
				margin-bottom: 15px;
			}
		}

		img.pay {
			display: block;
			margin-left: auto;
			margin-top: 20px;
			position: relative;
			z-index: 2;

			@media (max-width: 991px) {
				margin-left: 0;
				margin-right: auto;
			}
		}

		&-bg {
			position: absolute;
			right: 15px;
			bottom: 0;
			min-height: 100%;
			width: 50vw;
			z-index: 1;
			background: radial-gradient(66.22% 549.22% at 95% 25%, #fff7e1 0%, rgba(255, 255, 255, 0) 100%), #f9f3f3;

			@media (max-width: 991px) {
				display: none;
			}

			img {
				width: 309px;
				position: absolute;
				bottom: 0;
				left: 0;

				@media (max-width: 1406px) {
					width: 230px;
				}
			}

			&.left {
				img {
					width: 269px;

					@media (max-width: 1406px) {
						width: 170px;
					}
				}
			}
		}

		&--second {
			padding-right: 15px;
			padding-left: 30px;

			@media (max-width: 991px) {
				padding-left: 15px;
			}

			.pay-page__item-bg {
				left: 15px;
				right: unset;

				@media (max-width: 991px) {
					left: unset;
					right: 0;
					padding-left: 15px;
				}
			}
		}
	}

	p {
		font-size: 15px;
		line-height: 180%;
		display: flex;
		flex-direction: column;
		margin-bottom: 23px;
		z-index: 2;
		position: relative;

		@media (max-width: 991px) {
			margin-bottom: 15px;
		}

		br {
			@media (max-width: 767px) {
				display: none;
			}
		}

		b {
			font-weight: 600;
			line-height: 180%;
			width: 100%;
		}
	}
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;

	@media (max-width: 991px) {
		text-align: left;
	}
}
