<section class="bonus bonus--main">
	<div class="container-fluid">
		<div class="row d-flex align-items-center justify-content-between">

				<div class="bonus__info d-flex flex-column">
					<div class="main-title">
						Больше фруктов <br> - больше <br> бонусов
					</div>
					<div class="main-description">получить и потратить <br> бонусы можно на любые <br> заказы</div>
				</div>

			<div class="bonus__desc">
				<p>% от стоимости покупки начисляется бонусами</p>
				<div>
					1 бонус <br> = <br> 1 рубль
				</div>

				<p>до 100% стоимости товара можно оплатить бонусными баллами</p>
			</div>
			<div class=" bonus__img">
				<img src="assets/images/bonus-right.png" alt="">
			</div>
		</div>
	</div>
</section>
