.bonus {
	background: radial-gradient(66.22% 549.22% at 95% 25%, #fff7e1 0%, rgba(255, 255, 255, 0) 100%), #f9f3f3;
	position: relative;

	.main-title {
		width: 570px;
		margin-bottom: 22px;
		margin-left: 22.012%;
	}

	.main-description {
		width: 299px;
		margin-left: 80px;
		margin-left: calc(22.012% + 80px);
	}

	&__info {
		position: relative;
		z-index: 2;
	}

	&__img {
		display: flex;
		align-items: center;
		overflow: hidden;
		border-radius: 110px 0 0 0;
		float: right;
		width: 50%;

		img {
			min-height: 100%;
			width: 100%;
			position: relative;
		}
	}

	@media (max-width: 1300px) {
		&.bonus--main {
			overflow: hidden;

			@media (max-width: 991px) {
				.d-flex {
					flex-direction: column;
				}
			}

			.bonus__info {
				width: 50%;

				@media (max-width: 991px) {
					width: 80%;
					margin-top: 20px;
				}
			}

			.main-title {
				margin-left: 20%;

				@media (max-width: 1300px) {
					font-size: 50px;
					margin-left: 10%;
				}

				@media (max-width: 1075px) {
					font-size: 40px;
				}

				@media (max-width: 991px) {
					width: 100%;
					text-align: center;
					margin-left: auto;
					margin-right: auto;

					br {
						display: none;
					}
				}

				@media (max-width: 575px) {
					font-size: 24px;
				}
			}

			.main-description {
				margin-left: calc(10% + 50px);

				@media (max-width: 1075px) {
					font-size: 18px;
				}

				@media (max-width: 991px) {
					margin-left: 0;
					width: 100%;
					text-align: center;
					margin-bottom: 15px;

					br {
						display: none;
					}
				}

				@media (max-width: 575px) {
					font-size: 16px;
				}
			}

			.bonus__desc {
				width: 280px;
				left: calc(50% - 140px);

				@media (max-width: 991px) {
					position: relative;
					left: unset;
					margin-bottom: 20px;
				}

				p {
					font-size: 16px;

					@media (max-width: 575px) {
						font-size: 14px;
					}
				}

				div {
					font-size: 35px;

					@media (max-width: 575px) {
						font-size: 24px;
						margin-bottom: 10px;
					}
				}
			}

			.bonus__img {
				@media (max-width: 991px) {
					width: 100%;
					border-radius: 0;
				}
			}
		}
	}

	&__desc {
		position: absolute;
		width: 315px;
		bottom: 0;
		left: calc(50% - 157.5px);
		background: #fece4e;
		border-radius: 110px 0;
		padding-top: 29px;
		padding-bottom: 25px;
		padding-left: 39px;
		padding-right: 17px;
		z-index: 2;

		p {
			color: $purple;
			font-weight: 800;
			font-size: 19px;
			letter-spacing: 0.03em;
			text-align: center;
		}

		div {
			font-weight: bold;
			font-size: 41px;
			color: $purple;
			text-align: center;
			margin-top: 9px;
			margin-bottom: 21px;
		}
	}

	&__inner {
		background-image: url(../images/bonus-bg.png);
		padding: 20px 0;
		background-repeat: no-repeat;
		background-position: center;
		-webkit-background-size: cover;
		background-size: cover;
		margin-top: 20px;

		@media (max-width: 1199px) {
			padding: 46px 0;
		}

		@media (max-width: 991px) {
			padding: 44px 0;
		}

		@media (max-width: 767px) {
			padding: 26px 0;
		}

		@media (max-width: 450px) {
			padding: 27px 0;
		}

		.main-title {
			color: #fff;
			margin-left: 0;

			@media (max-width: 1199px) {
				font-size: 55px;
				width: 455px;
			}

			@media (max-width: 991px) {
				font-size: 35px;
				width: 280px;
			}

			@media (max-width: 767px) {
				font-size: 28px;
				width: 220px;
			}

			@media (max-width: 575px) {
				font-size: 20px;
				width: 165px;
			}

			@media (max-width: 460px) {
				font-size: 16px;
				width: 125px;
			}
		}

		.bonus__desc {
			background-color: #fff;
			left: calc(64% - 157.5px);
			padding: 77px 28px 75px;

			@media (min-width: 1495px) {
				left: calc(62% - 157.5px);
			}

			@media (max-width: 991px) {
				width: 280px;
				padding: 45px 18px 45px;
				left: calc(62% - 157.5px);
			}

			@media (max-width: 767px) {
				width: 280px;
				width: 262px;
				padding: 26px 18px 25px;
				left: unset;
				right: 80px;
			}

			@media (max-width: 575px) {
				width: 245px;
				padding: 17px 10px 18px;
				right: 45px;
				border-radius: 48px 0;
			}

			@media (max-width: 460px) {
				right: 0;
				width: 180px;
			}

			p {
				color: #8b8b8b;
				font-weight: 500;

				@media (max-width: 991px) {
					font-size: 16px;
				}

				@media (max-width: 767px) {
					font-size: 14px;
				}

				@media (max-width: 460px) {
					font-size: 12px;
				}
			}

			div {
				font-weight: bold;
				font-size: 33px;
				line-height: 97.5%;
				color: #fd5c01;
				margin-bottom: 6px;
				margin-bottom: 16px;

				@media (max-width: 991px) {
					font-size: 26px;
				}

				@media (max-width: 767px) {
					font-size: 20px;
				}

				@media (max-width: 575px) {
					font-size: 18px;
					margin-bottom: 6px;
					margin-top: 6px;
				}

				@media (max-width: 460px) {
					font-size: 16px;
				}
			}
		}
	}
}
