@import 'helpers/variables';
@import 'helpers/mixins';
@import 'helpers/fonts';
@import 'helpers/optimize';
@import '../blocks/**/*';

* {
	font-family: $default-font;
	line-height: 1.25;
}

main {
	position: relative;
	z-index: 1;
}

body {
	background-color: #fbf9f9;

	&.menu-open {
		@media (max-width: 991px) {
			overflow: hidden;
		}
	}

	&.fancybox-active {
		.header-menu {
			margin-left: -625.5px;
		}
	}
}

a {
	text-decoration: none;
	transition: opacity 0.3s;

	&:hover {
		text-decoration: none;
		opacity: 0.7;
	}
}

.container {
	@media (max-width: 575px) {
		padding: 0 30px;
	}
}

.main-title {
	font-size: 70px;
	color: $purple;
	font-weight: bold;

	@media (max-width: 991px) {
		font-size: 60px;
	}

	@media (max-width: 767px) {
		font-size: 40px;
	}

	@media (max-width: 575px) {
		font-size: 24px;
	}
}

.main-description {
	color: $purple;
	font-weight: bold;
	font-size: 24px;
}

.btn {
	padding: 18px 30px;
	cursor: pointer;
	user-select: none;
	border-radius: 13px;
	background-color: $purple;
	text-align: center;
	text-decoration: none;
	border: none;
	color: #fff;
	letter-spacing: 0.03em;
	font-weight: bold;
	font-size: 16px;
	transition: opacity 0.3s;

	&--white {
		background-color: #fff;
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
		width: 215px;
		color: $purple;
		height: 45px;
	}

	&:hover {
		opacity: 0.7;
	}
}

.checkbox {
	position: relative;
	padding-left: 35px;
	margin-bottom: 10px;
	height: 24px;
	cursor: pointer;
	font-weight: 500;
	font-size: 12px;
	color: $purple;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	letter-spacing: 0.03em;
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 24px;
		width: 24px;
		background-color: transparent;
		border-radius: 5px;
		background-position: center;
		background-size: 24px;
		background-repeat: no-repeat;
		background-image: url(../images/icons/checkbox.svg);
		transition: 0.3s;

		&::after {
			content: none;
		}
	}

	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

	&:hover {
		input ~ .checkmark {
			opacity: 0.7;
		}
	}

	input:checked ~ .checkmark {
		background-image: url(../images/icons/checked.svg);
	}

	input:checked ~ .checkmark::after {
		display: block;
	}
}

.form {
	$self: &;

	&__item {
		position: relative;
		background-color: #fff;
		padding-right: 39px;
		border-radius: 7px;

		input[type=text],
		input[type=password],
		input[type=number],
		input[type=tel],
		input[type=date],
		input[type=email],
		textarea {
			background-color: transparent;
			border-radius: 7px;
			height: 50px;
			padding: 12px 0 10px 25px;
			color: $purple;
			font-weight: 500;
			font-size: 14px;
			line-height: 100%;
			width: 100%;
			border: none;
			position: relative;
			z-index: 2;

			&::placeholder {
				color: $purple;
				opacity: 0;
			}
		}

		&--check {
			background-color: transparent;
			padding-right: 0;

			a {
				text-decoration: underline;
				color: $purple;
			}
		}

		textarea {
			min-height: 100px;
		}

		.title {
			font-weight: normal;
			line-height: 100%;
			position: absolute;
			left: 25px;
			z-index: 1;
			font-size: 14px;
			color: $purple;
			top: 18px;
			transition: 0.1s;

			@media (max-width: 991px) {
				font-size: 13px;
				top: 19px;
			}
		}

		&.focus {
			.item {
				padding-top: 26px;
			}

			.title {
				top: 7px;
				font-size: 12px;
				color: #969696;
			}

			input {
				&::placeholder {
					color: $purple;
					opacity: 1 !important;
				}
			}

			textarea {
				padding-top: 21px;
			}
		}

		width: 100%;
		margin-bottom: 20px;

		&.password.hide {
			.title {
				color: $purple;
				font-size: 14px;
				top: 18px;
			}

			input {
				opacity: 0;
			}

			&.focus {
				.title {
					top: 7px;
					font-size: 12px;
					color: #969696;
				}

				input {
					opacity: 1;
				}
			}
		}

		label.error {
			font-size: 12px;
			padding-left: 25px;
			padding-bottom: 5px;
			color: red;
			display: block;
		}
	}

	&__inner {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-start;

		#{$self}__item {
			width: calc(50% - 10px);

			@media (max-width: 767px) {
				width: 100%;
			}

			&.full-width {
				width: 100%;
			}
		}
	}

	&__title {
		margin-bottom: 20px;
		font-weight: bold;
		font-size: 20px;
		line-height: 100%;
		color: $purple;
	}

	&__error {
		border: 1px solid #e73c3c;
		background-image: url(../images/icons/error.svg);
		background-repeat: no-repeat;
		background-position: 95% 50%;
		position: relative;

		input[type=text],
		input[type=password],
		input[type=number],
		input[type=tel],
		input[type=email] {
			color: #cc1515;
		}
	}

	&__error-text {
		position: absolute;
		font-weight: 500;
		font-size: 10px;
		line-height: 115.1%;
		color: #614a4a;
		background: #fff;
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
		border-radius: 4px;
		padding: 9px 12px 8px 9px;
		z-index: 2;
		right: -20px;
		top: -20px;

		@media (max-width: 575px) {
			right: -10px;
		}
	}
}

.show-password {
	width: 17.03px;
	height: 12.73px;
	cursor: pointer;
	background-position: center;
	position: absolute;
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	background-image: url(../images/icons/show-password.svg);
	right: 22.48px;
	top: 20.63px;
	z-index: 2;
}

.soc {
	display: flex;

	&__item {
		display: block;
		transition: opacity 0.3s;
		width: 60px;
		height: 60px;
		background-position: center;
		background-repeat: no-repeat;
		-webkit-background-size: 100%;
		background-size: 100%;
		margin-right: 20px;

		@media (max-width: 991px) {
			width: 40px;
			height: 40px;
		}

		@media (max-width: 767px) {
			width: 30px;
			height: 30px;
		}

		&:last-child {
			margin-right: 0;
		}

		&.vk {
			background-image: url(../images/icons/vk-grey.svg);
		}

		&.fb {
			background-image: url(../images/icons/fb-grey.svg);
		}

		&.inst {
			background-image: url(../images/icons/inst-grey.svg);
		}
	}
}

.up {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	font-weight: bold;
	font-size: 16px;
	color: $purple;
	margin-bottom: 40px;

	img {
		width: 50px;
		height: 50px;
	}
}

.close {
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: 100%;
	background-size: 100%;
	background-image: url(../images/icons/close.svg);
	transition: opacity 0.3s;

	&:hover {
		opacity: 0.7;
	}
}

.catalog-page {
	.inner-header__slider {
		@media (min-width: 992px) {
			padding-right: 30px;

			.swiper-next {
				right: 15px;
			}
		}
	}
}

.pay_logos {
	width: 355px;
}
