<section class="inner-header inner-header__product" style="background-image: url(assets/images/mango-bg.png)">
	<div class="container">
		<div class="row">
			<ul class="breadcrumbs">
				<li>
					<a href="">Главная</a>
				</li>
				<li>
					<a href="">Каталог</a>
				</li>
				<li>
					<span>Манго</span>
				</li>
			</ul>
			<div class="inner-header__category">
				<div class="row">
					<a href="" class="back"></a>
					<div class="main-title">
						Манго
					</div>


					<div class="swiper-slide country">Морокко</div>


				</div>
			</div>
		</div>
	</div>
</section>
