<section class="reviews-page">
	<div class="container">
		<div class="row">

			<div class="reviews-page__item">
				<div class="form__item">
					<div class="title">ФИО</div>
					<input type="text" placeholder="ФИО">
				</div>
				<div class="form__item">
					<div class="title">Компания</div>
					<input type="text" placeholder="Компания">
				</div>
			</div>
			<div class="reviews-page__item">
				<textarea name="" id="" cols="30" maxlength="1000" rows="10" class="review-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit hic, laudantium nulla obcaecati perspiciatis voluptatem.</textarea>
				<div class="reciew_img">
					<div class="reciew_remove"></div>
					<input type="hidden" name="PROPERTY[PREVIEW_PICTURE][0]" value="">
					<input type="file" size="" name="PROPERTY_FILE_PREVIEW_PICTURE_0">
				</div>
				<div class="btn reviews-page__button">
					Оправить
				</div>

			</div>

		</div>
	</div>
</section>
