<section class="reviews-page">
	<div class="container">
		<div class="row row_reviews_button">
			<a href="" class="btn">Оставить отзыв</a>
		</div>
		<div class="row row_reviews_item">
			<div class="reviews-page__item">
				<div class="reviews-page__img">
					<img src="assets/images/review1.png" alt="">
				</div>
				<div class="reviews-page__desc">
					<div class="reviews-page__name">Ольга, BitTorrent</div>
					<div class="reviews-page__text ">Фрукты заказываем с ноября 2013 года. О подобных услугах узнали
						через сайт fru.by. Очень хороший вариант для ленивых и состоятельных.
						Качество доставки на должном уровне. Фрукты свежие, всегда во время. Несогласованных отмен
						поставок за время сотрудничества не случалось. <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto, aut autem consequatur corporis cumque deleniti et excepturi fuga harum laborum modi necessitatibus nobis quo ratione temporibus ullam! Aliquid beatae cum, earum error fuga iste laudantium magni minima minus mollitia obcaecati porro, tenetur unde? Accusantium cumque deleniti nulla optio quam?</span>
					</div>

				</div>
				<a href="#" class="reviews-page__more">
					<span>Подробнее</span> <i></i>
				</a>
			</div>
			<div class="reviews-page__item">
				<div class="reviews-page__img">
					<img src="assets/images/review2.png" alt="">
				</div>
				<div class="reviews-page__desc">
					<div class="reviews-page__name">Ольга Гриненко, маркетолог ООО «Предизо»</div>
					<div class="reviews-page__text">Нам привозят фрукты уже несколько месяцев (кажется, с конца весны).
						Когда нам захотелось фруктов в офис, мы погуглили и нашли вас. Это несложно:) у вас очень
						user-friendly вебсайт и отличные комиксы в футере. <br>
						Атмосфера в коллективе стала напряжённей. Шутка:)
						<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto, aut autem consequatur corporis cumque deleniti et excepturi fuga harum laborum modi necessitatibus nobis quo ratione temporibus ullam! Aliquid beatae cum, earum error fuga iste laudantium magni minima minus mollitia obcaecati porro, tenetur unde? Accusantium cumque deleniti nulla optio quam?</span>
					</div>
				</div>
				<a href="" class="reviews-page__more">
					<span>Подробнее</span> <i></i>
				</a>
			</div>
			<div class="reviews-page__item">
				<div class="reviews-page__img">
					<img src="assets/images/review3.png" alt="">
				</div>
				<div class="reviews-page__desc">
					<div class="reviews-page__name">Арина, офис-менеджер IG dev</div>
					<div class="reviews-page__text">Всё отлично. Единственный нюанс: побольше разнообразия в фруктах.
						Хорошо бы было, если бы всегда было немного апельсинов, немного яблок. Бананы и сезонные фрукты
						расходятся хорошо. Не хватает лимонов (по 1 лимону в неделю), можно добавить киви.
						<span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto, aut autem consequatur corporis cumque deleniti et excepturi fuga harum laborum modi necessitatibus nobis quo ratione temporibus ullam! Aliquid beatae cum, earum error fuga iste laudantium magni minima minus mollitia obcaecati porro, tenetur unde? Accusantium cumque deleniti nulla optio quam?</span>
					</div>
				</div>
				<a href="" class="reviews-page__more">
					<span>Подробнее</span> <i></i>
				</a>
			</div>
			<div class="reviews-page__item">
				<div class="reviews-page__img">
					<img src="assets/images/review4.png" alt="">
				</div>
				<div class="reviews-page__desc">
					<div class="reviews-page__name">Екатерина, секретарь-референт ООО «ФЭК»</div>
					<div class="reviews-page__text">Фрукты заказываем полгода. О сервисе доставки фруктов узнали через
						интернет. Руководство, коллектив и гости нашей организации всегда рады свежим фруктам. <br>
						Случаев несогласованных отмен поставок никогда не было, фрукты доставляют всегда согласно
						графику. <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A architecto, aut autem consequatur corporis cumque deleniti et excepturi fuga harum laborum modi necessitatibus nobis quo ratione temporibus ullam! Aliquid beatae cum, earum error fuga iste laudantium magni minima minus mollitia obcaecati porro, tenetur unde? Accusantium cumque deleniti nulla optio quam?</span>
					</div>
				</div>
				<a href="" class="reviews-page__more">
					<span>Подробнее</span> <i></i>
				</a>
			</div>
			<div class="col-12 p-0 d-flex align-items-start justify-content-start">
				<a href="#" id="up" class="up">
					<img src="assets/images/icons/up.svg" alt="">
					Eщe</a>
			</div>
		</div>
	</div>
</section>
