.reviews-page {
	padding-top: 40px;
	padding-bottom: 30px;
	background-color: #fff;
	background-image: url(../images/reviews-bg.png);
	background-position: top right;
	background-repeat: repeat-y;
	-webkit-background-size: 100%;
	background-size: 100%;

	@media (max-width: 1199px) {
		background-image: none !important;
	}

	@media (max-width: 767px) {
		padding-top: 30px;
		padding-bottom: 20px;
		background-image: none;
	}

	&__img {
		width: 95px;
		height: 95px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		border: 1px solid #c5c4c6;
		border-radius: 13px;
		margin-right: 27px;

		img {
			max-width: 100%;
		}

		@media (max-width: 767px) {
			margin-bottom: 15px;
		}
	}

	.up {
		img {
			transform: rotate(180deg);
		}
	}

	&__more {
		width: 110px;
		color: $purple;
		font-weight: bold;
		font-size: 16px;
		display: flex;
		align-items: center;
		line-height: 1;
		align-self: flex-end;
		margin-bottom: 5px;

		@media (max-width: 991px) {
			margin-bottom: 0;
			margin-top: 5px;
			margin-left: auto;
			font-size: 14px;
		}

		i {
			width: 7px;
			height: 11px;
			display: block;
			margin-left: 10px;
			background-position: center;
			background-repeat: no-repeat;
			-webkit-background-size: 100%;
			background-size: 100%;
			transition: 0.3s;
			background-image: url(../images/icons/more.svg);
		}
	}

	&__desc {
		width: calc(100% - 205px - 59px - 27px);
		font-size: 15px;
		line-height: 27px;
		color: $purple;
		margin-right: 29px;

		@media (max-width: 991px) {
			width: calc(100% - 110px - 59px);
		}

		@media (max-width: 767px) {
			width: 100%;
		}
	}

	&__text {
		line-height: 27px;

		span {
			height: 0;
			overflow: hidden;
			opacity: 0;
			display: block;
			transition: 0.3s;
			transition-delay: 0.2s;
		}
	}

	&__name {
		font-weight: 600;
		line-height: 27px;
	}

	&__item {
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 40px;
		width: 825px;
		max-width: 100%;
		align-items: flex-start;

		&.show {
			.reviews-page__text {
				span {
					display: inline;
					height: auto;
					overflow: visible;
					opacity: 1;
				}
			}

			.reviews-page__more {
				i {
					transform: rotate(-90deg);
				}
			}
		}

		.form__item {
			border: 1px solid #4c0d5b;
			border-radius: 10px;
			width: calc(50% - 10px);
			margin-right: 10px;

			&:last-child {
				margin-left: 10px;
				margin-right: 0;
			}

			@media (max-width: 575px) {
				width: 100%;
				margin-left: 0;
				margin-right: 0;

				&:last-child {
					margin-left: 0;
					margin-right: 0;
					margin-bottom: 0;
				}
			}
		}

		textarea {
			width: 100%;
			text-align: left;
			padding: 10px 20px;
			border-radius: 10px;
			border-color: #4c0d5b;
			font-size: 16px;

			@media (max-width: 575px) {
				padding: 10px;
				font-size: 14px;
			}
		}
	}

	&__button {
		margin-left: auto;
		margin-top: 20px;
	}

	.row_reviews_button {
		margin-bottom: 25px;
	}

	.reciew_img {
		margin-top: 18px;
		position: relative;
		height: 40px;
		border: 1px solid #4c0d5b;
		border-radius: 10px;
		align-items: center;
		justify-content: center;
		padding: 5px;
		cursor: pointer;
		max-width: 100%;

		&::before {
			content: "Выберите файл";
			position: absolute;
			z-index: 1;
			left: 15px;
			top: 10px;
			cursor: pointer;
		}

		input[type=file] {
			height: 100%;
			opacity: 0;
			position: relative;
			z-index: 2;
			background-color: #fff;
			cursor: pointer;
		}

		&.file-choose {
			&::before {
				content: none;
			}

			span {
				position: absolute;
				z-index: 1;
				left: 15px;
				top: 10px;
			}
		}
	}
}

.file-choose {
	.reciew_remove {
		position: absolute;
		right: -15px;
		top: -15px;
		width: 15px;
		height: 15px;
		background-position: center;
		-webkit-background-size: 100%;
		background-size: 100%;
		background-repeat: no-repeat;
		background-image: url(../images/icons/close.svg);

		@media (max-width: 375px) {
			right: 0;
		}
	}
}
