<section class="contacts-page">
	<div class="container">
		<div class="row">
			<div class="col-12 col-sm-6 col-md-3 contacts-page__item">
				<p>Телефоны</p>
				<a href="tel:375293435544">+ 375 29 343 55 44</a>
				<a href="tel:375333435544">+ 375 33 343 55 44</a>
			</div>
			<div class="col-12 col-sm-6 col-md-3 contacts-page__item">
				<p>Email</p>
				<a href="mailTo:info@fru.by">info@fru.by</a>
			</div>
			<div class="col-12 col-sm-6 col-md-3 contacts-page__item">
				<p>Юр. адрес</p>
				<span>ООО "Фруми" <br>
					г. Минск,ул. Ольшевского, <br>
					д.18а, ком. 603 <br>
					УНП: 193010330</span>
			</div>
			<div class="col-12 col-sm-6 col-md-3 contacts-page__item">
				<p>Часы работы</p>
				<span><b>Будние</b> 9.00 - 18.00</span>
				<span><b>Суббота, воскресенье</b> - выходной</span>
			</div>
		</div>
		<div class="row eco-pack">
			<div class="col-12 d-flex justify-content-center align-items-center flex-wrap">
				<div class="eco-pack__title">
					<div class="main-title">Форма <br>
						для связи</div>
					<div class="main-description">заказывайте фрукты <br>
						в один клик</div>
				</div>
				<div class="eco-pack__img">
					<img src="assets/images/eco-package.png" alt="">
				</div>
				<div class="eco-pack__form">
					<form action="" class="form">
						<div class="form__item">
							<div class="title">Ваше имя</div>
							<input type="text" placeholder="Ваше имя">
						</div>
						<div class="form__item">
							<div class="title">Телефон</div>
							<input type="text" class="phone">
						</div>
						<input type="text" class="btn" value="Перезвоните мне">
					</form>
				</div>
			</div>
		</div>
	</div>
	</div>
</section>
