.contacts-page {
	padding-top: 40px;
	padding-bottom: 30px;
	background: radial-gradient(66.22% 549.22% at 95% 25%, #fff7e1 0%, rgba(255, 255, 255, 0) 100%), #f9f3f3;

	@media (max-width: 767px) {
		padding-top: 30px;
		padding-bottom: 20px;
	}

	.eco-pack {
		background: unset;

		&__title {
			width: 350px;
			text-align: right;

			@media (max-width: 991px) {
				text-align: left;
				width: 100%;

				br {
					display: none;
				}
			}
		}
	}

	&__item {
		color: $purple;
		display: flex;
		flex-direction: column;
		margin-bottom: 50px;

		@media (max-width: 991px) {
			margin-bottom: 30px;
		}

		@media (max-width: 767px) {
			margin-bottom: 20px;
		}

		p {
			font-weight: bold;
			font-size: 27px;
			line-height: 1;
			margin-bottom: 20px;

			@media (max-width: 991px) {
				font-size: 24px;
			}

			@media (max-width: 575px) {
				font-size: 20px;
				margin-bottom: 10px;
			}
		}

		a,
		span {
			font-weight: 500;
			font-size: 15px;
			line-height: 27px;
			color: $purple;

			@media (max-width: 767px) {
				line-height: 1.25;
				font-size: 14px;
			}
		}
	}
}
