.product-cart {
	display: block;
	color: $purple;
	font-size: 16px;
	letter-spacing: 0.03em;

	@media (max-width: 575px) {
		font-size: 14px;
	}

	.product {
		&__like,
		&__cart {
			position: relative;
			top: 0;
			left: unset;
			right: unset;
		}

		&__actions {
			display: flex;
			margin-bottom: 28px;
		}

		&__discont {
			right: 9px;
			top: 10px;
			left: unset;
			width: 77px;
			height: 77px;
			font-size: 24px;

			@media (max-width: 767px) {
				width: 40px;
				height: 40px;
				font-size: 16px;
			}
		}

		&__category {
			margin-bottom: 30px;
			margin-top: 30px;

			@media (max-width: 575px) {
				margin-top: 20px;
				margin-bottom: 20px;
			}

			b {
				font-weight: 600;
			}

			a {
				font-weight: 600;
			}
		}
	}

	.price {
		margin-bottom: 30px;
		margin-top: 5px;
		display: flex;
		align-items: flex-end;

		@media (max-width: 575px) {
			margin-bottom: 20px;
		}

		&__current {
			font-weight: 800;
			font-size: 30px;

			@media (max-width: 575px) {
				font-size: 24px;
			}
		}

		&__full {
			font-weight: 600;
			font-size: 18px;
			color: $light-purple;
			margin-left: 35px;
			margin-bottom: 3px;

			@media (max-width: 575px) {
				font-size: 16px;
				margin-left: 25px;
			}
		}
	}

	blockquote {
		margin-bottom: 20px;
		width: 415px;
		max-width: 100%;
		display: flex;
		flex-direction: column;
		line-height: 150%;

		@media (max-width: 575px) {
			margin-bottom: 10px;
		}

		&::before {
			content: "";
			width: 27.03px;
			height: 18.56px;
			display: block;
			background-position: center;
			-webkit-background-size: 100%;
			background-size: 100%;
			background-repeat: no-repeat;
			background-image: url(../images/icons/blockquote.svg);
			margin-bottom: 14px;
		}
	}

	&__slider-wrap {
		min-height: 535px;

		@media (max-width: 991px) {
			min-height: unset;
		}
	}

	&__slider {
		width: 610px;
		max-width: 100%;
		height: 100%;
		margin-left: auto;
		position: absolute;
		right: 0;
		top: 0;
		overflow: hidden;
		display: flex;
		justify-content: flex-end;

		@media (max-width: 991px) {
			position: relative;
			margin-left: auto;
			margin-right: auto;
			height: auto;
			margin-top: 20px;
		}

		.row {
			@media (min-width: 992px) {
				height: 100%;
				height: inherit;
				overflow: hidden;
			}

			@media (max-width: 991px) {
				width: 100%;
				margin: 0;
			}
		}

		.slick-list,
		.slick-track {
			@media (min-width: 992px) {
				height: 100%;
			}
		}
	}

	&__thumb {
		position: absolute;
		width: 274px;
		bottom: 16px;
		right: 86px;

		@media (max-width: 991px) {
			position: relative;
			bottom: unset;
			right: unset;
			margin-left: auto;
			margin-right: auto;
		}

		@media (max-width: 500px) {
			width: 204px;
		}

		.slick-slide {
			width: 76px;
			height: 76px;
			margin: 8px;
			box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
			border-radius: 8px;

			@media (max-width: 500px) {
				height: 55px;
			}
		}

		.slick-arrow {
			width: 60px;
			height: 60px;
			background-position: center;
			-webkit-background-size: 100%;
			background-size: 100%;
			background-repeat: no-repeat;

			@media (max-width: 500px) {
				width: 40px;
				height: 40px;
			}

			&::before {
				content: none;
			}
		}

		.slick-prev {
			background-image: url(../images/icons/arrow-prev.svg);
			left: -66px;

			@media (max-width: 500px) {
				left: -46px;
			}
		}

		.slick-next {
			background-image: url(../images/icons/prev-next.svg);
			right: -66px;

			@media (max-width: 500px) {
				right: -46px;
			}
		}
	}

	&__slide {
		@media (min-width: 992px) {
			min-height: 100%;
		}
	}

	&__left {
		.product__actions {
			.product__like.offset {
				margin-right: 40px;
			}

			.product__cart.active {
				top: 6px;
			}
		}
	}
}

.nutritional-value {
	width: 664px;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;

	@media (max-width: 991px) {
		width: 100%;
	}

	&__item {
		width: 25%;
		height: 100px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		@media (max-width: 575px) {
			width: 50%;
		}

		span {
			font-weight: bold;
			font-size: 16px;
			letter-spacing: 0.03em;
			color: #fff;

			@media (max-width: 575px) {
				font-size: 14px;
			}
		}

		p {
			color: #fff;
			font-weight: bold;
			font-size: 28px;
			letter-spacing: 0.03em;
			margin-top: 11px;

			@media (max-width: 575px) {
				font-size: 24px;
			}
		}

		&:nth-child(1) {
			background-color: #dcabb7;
		}

		&:nth-child(2) {
			background-color: #bd8f9a;
		}

		&:nth-child(3) {
			background-color: #acb5f6;
		}

		&:nth-child(4) {
			background-color: #858ed1;
		}
	}
}

.counter {
	width: 130px;
	height: 40px;
	background: #fff;
	display: flex;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
	border-radius: 30px;
	padding: 11px;
	margin: 0 20px;

	&__min,
	&__plus {
		width: 18px;
		height: 18px;
		background-repeat: no-repeat;
		-webkit-background-size: 100%;
		background-size: 100%;
		background-position: center;
		cursor: pointer;
	}

	&__min {
		margin-left: 2px;
		background-image: url(../images/icons/minus.svg);
	}

	&__plus {
		margin-left: 2px;
		background-image: url(../images/icons/plus.svg);
	}

	&__text {
		width: 65px;
		margin-left: 2.5px;
		margin-right: 2.5px;

		input {
			width: 100%;
			border: none;
			text-align: center;
			outline: none;
			font-weight: 600;
			font-size: 16px;
			color: $purple;
		}
	}

	&--hidden {
		opacity: 0;
		user-select: none;
		pointer-events: none;
		transition: width 0.3s;
		width: 0;
		transition-delay: 0.3s;
	}
}
