<div class="container-fluid product-cart">
	<div class="row">
		<div class="col-12 col-lg-5 product-cart__slider-wrap">
			<div class="product__discont">-5%</div>
			<div class="product-cart__slider">
				<div class="row">
					<img class="product-cart__slide" src="assets/images/product_card.png">
					<img class="product-cart__slide" src="assets/images/product_card.png">
					<img class="product-cart__slide" src="assets/images/product_card.png">
					<img class="product-cart__slide" src="assets/images/product_card.png">
				</div>
			</div>
			<div class="product-cart__thumb">
				<img  src="assets/images/product_card.png">
				<img src="assets/images/product_card.png">
				<img src="assets/images/product_card.png">
				<img src="assets/images/product_card.png">
			</div>
		</div>
		<div class="col-12 col-lg-7 product-cart__left">
			<div class="row">
				<div class="col-lg-8">

					<div class="product__category">
						Категория: <b>Фрукты, Хиты продаж</b>
					</div>
					<p>Цена за упаковку объемом 125 г.</p>
					<div class="price">
						<div class="price__current">10,00 руб</div>
						<div class="price__full">9,90 руб/кг</div>
					</div>
					<blockquote>
						Голубика используется как в свежем, так и в переработанном виде. Из нее готовят варенье,
						пастилу,
						компот, желе, кисель, мусс, вино, квас, сырое варенье (протертая с сахаром ягода). Купить свежие
						ягоды голубики в Минске с доставкой на дом.
					</blockquote>
					<div class="product__actions">
						<div class="product__like"></div>
						<div class="counter counter_catalog">
							<div class="counter__min"></div>
							<div class="counter__text">
								<input type="text" value="1" data-step="1.25">
							</div>
							<div class="counter__plus"></div>
						</div>
						<div class="product__cart"></div>
					</div>
					<div class="row">
						<div class="nutritional-value">
							<div class="nutritional-value__item">
								<span>Калории</span>
								<p>100</p>
							</div>
							<div class="nutritional-value__item">
								<span>Белки</span>
								<p>1г</p>
							</div>
							<div class="nutritional-value__item">
								<span>Жиры</span>
								<p>0,5г</p>
							</div>
							<div class="nutritional-value__item">
								<span>Углеводы</span>
								<p>8г</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
