<section class="delivery-page">
	<div class="container">
		<div class="row">
			<p class="delivery-page__caption">
				Определившись с желаемым заказом, необходимо направить заявку на комплектацию заказа. <br> Все овощи и
				фрукты, входящие в состав, будут закуплены специально под конкретную доставку.<br> При этом вся
				комплектуемая продукция будет проверена на соответствие <br> качеству и отсутствия каких-либо внешних
				дефектов.
			</p>
		</div>
	</div>
	<div class="container-fluid delivery-page__item" style="background-image: url('assets/images/icons/delivery1.svg')">
		<div class="row">
			<div class="container">
				<div class="row">
					<div class="delivery-page__left">
						<div class="dispatch-page__title">по Минску</div>
						<p>В день заказа с <b>9.00</b> до <b>21.00</b></p>
						<p>Стоимость доставки - <b>4 бел.руб.</b></p>
						<p>При заказе от 2-х коробок - <b>бесплатная</b></p>
						<p class="bottom">Оплата производиться наличными курьеру при получении</p>
					</div>
					<div class="delivery-page__right">
						<img src="" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid delivery-page__item" style="background-image: url('assets/images/icons/delivery2.svg')">
		<div class="row">
			<div class="container">
				<div class="row">
					<div class="delivery-page__left">
						<div class="dispatch-page__title">по Минскому району</div>
						<p>Доставка осуществляется в течении <b>3-4 дней</b>, <br> наложенным платежом РУП Белпочта.</p>
						<p>Стоимость доставки - <b>5 бел.руб.</b></p>
						<p class="bottom">Оплата за товар и доставку, производиться <br>
							в почтовом отделении вашего города при получении заказа.</p>
					</div>
					<div class="delivery-page__right">
						<img src="" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid delivery-page__item" style="background-image: url('assets/images/icons/delivery3.svg')">
		<div class="row">
			<div class="container">
				<div class="row">
					<div class="delivery-page__left">
						<div class="dispatch-page__title">по Беларуси</div>
						<p>Доставка осуществляется в течении <b>3-4 дней</b>, <br> наложенным платежом РУП Белпочта.</p>
						<p>Стоимость доставки - <b>5 бел.руб.</b></p>
						<p class="bottom">Оплата за товар и доставку, производиться <br>
							в почтовом отделении вашего города при получении заказа.</p>
					</div>
					<div class="delivery-page__right">
						<img src="" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
