.delivery-page {
	font-weight: 500;
	font-size: 15px;
	line-height: 27px;
	color: $purple;
	margin-top: 40px;

	&__caption {
		margin-bottom: 40px;
		line-height: 180%;
		font-weight: 500;
		font-size: 15px;
	}

	@media (max-width: 575px) {
		font-size: 14px;
	}

	&__item {
		background: radial-gradient(66.22% 549.22% at 95% 25%, #fff7e1 0%, rgba(255, 255, 255, 0) 100%), #f9f3f3;
		background-position: center;
		background-repeat: no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
		margin-bottom: 20px;
		padding: 44px 15px;

		@media (max-width: 767px) {
			background-position: 39% 50%;
		}

		@media (max-width: 575px) {
			padding: 30px 15px 25px;
		}

		p {
			line-height: 27px;

			@media (max-width: 767px) {
				line-height: 1.2;
			}
		}

		.bottom {
			color: #ad88b7;
			font-size: 12px;
			line-height: 22px;
			margin-top: 30px;

			@media (max-width: 767px) {
				margin-top: 20px;
				line-height: 1.2;
			}
		}
	}

	.dispatch-page__title {
		margin-bottom: 10px;

		@media (max-width: 767px) {
			margin-bottom: 5px;
		}
	}
}
