<section class="header-menu ">
	<div class="container">
		<div class="row">
			<a href="" class="header__logo">
				<img src="assets/images/logo-header.png" alt="">
			</a>
			<div class="footer__phone">
				<a href="" class="footer__phone-icon">+ 375 (29) 343-55-44</a>
			</div>
			<ul>
				<li><a href="">Каталог</a></li>
				<li><a href="">Доставка</a></li>
				<li><a href="">Оплата</a></li>
				<li><a href="">Как это работает</a></li>
				<li><a href="">Отзывы</a></li>
				<li><a href="">Контакты</a></li>
			</ul>
			<div class="header__cart"><i></i>0,00 byn</div>
			<a href="" class="header__user-icon"></a>
			<div data-fancybox data-src="#login-popup" class="header__profile">Войти</div>

			<div class="hamburger">
				<div class="hamburger__box">
					<div class="hamburger__inner"></div>
				</div>
			</div>
		</div>
	</div>
	<div id="mobile-menu" class="mobile-menu">
		<div class="container">
			<div class="row"></div>
		</div>
	</div>
</section>
