.header-menu {
	width: 1236px;
	margin-left: -618px;
	top: 0;
	left: 50%;
	position: fixed;
	z-index: 3;
	padding: 9px 74px 12px 74px;

	@media (max-width: 1246px) {
		width: 100%;
		padding-left: 50px;
		padding-right: 50px;
		display: flex;
		justify-content: center;
		margin-left: 0;
		left: 0;

		.container {
			display: flex;
			justify-content: center;
		}
	}

	@media (max-width: 1246px) and (min-width: 992px) {
		overflow-x: hidden;
	}

	@media (max-width: 991px) {
		padding: 0;
		background-color: #fff;

		.container {
			//background-color: #fff;
			padding-top: 9px;
			padding-bottom: 12px;

			.row {
				display: flex;
				justify-content: space-between;
			}
		}
	}

	&::before {
		content: '';
		position: absolute;
		left: 0;
		top: -9px;
		width: 100%;
		height: 90px;
		background-image: url('../images/icons/header-bg.svg');
		-webkit-background-size: 100%;
		background-size: 100%;
		background-repeat: no-repeat;
		z-index: 1;

		@media (max-width: 1246px) {
			width: 1236px;
			left: unset;
		}
	}

	.row {
		display: flex;
		align-items: center;
		position: relative;
		z-index: 2;
	}

	a {
		color: $purple;
		font-weight: 600;
		font-size: 15px;
		text-decoration: none;

		@media (max-width: 1246px) {
			font-size: 14px;
		}
	}

	&--login {
		li {
			a {
				color: #b092b8;

				&:hover,
				&.active {
					color: $purple;
				}
			}
		}
	}

	.footer__phone {
		margin-right: 47px;

		@media (min-width: 992px) {
			order: 2;
		}

		&-icon {
			display: flex;

			@media (max-width: 991px) {
				color: #402a14;
			}

			@media (max-width: 575px) {
				margin-left: 0 !important;
			}

			&::before {
				display: block;
			}
		}

		@media (max-width: 1246px) {
			margin-right: 10px;
		}

		@media (max-width: 991px) {
			margin-bottom: 15px;
		}
	}

	ul {
		display: flex;
		align-items: flex-start;
		margin-right: auto;

		@media (min-width: 992px) {
			order: 3;
		}

		@media (max-width: 1246px) {
			margin-right: 15px;
		}

		@media (max-width: 991px) {
			flex-direction: column;
		}

		li {
			margin-right: 25px;

			@media (max-width: 1246px) {
				margin-right: 10px;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.hamburger {
		font: inherit;
		display: none;
		overflow: visible;
		margin: 0;
		padding: 15px;
		cursor: pointer;
		transition-timing-function: linear;
		transition-duration: 0.15s;
		transition-property: opacity, filter;
		text-transform: none;
		color: inherit;
		border: 0;
		background-color: transparent;

		@media (max-width: 991px) {
			display: inline-block;
		}

		&__box {
			position: relative;
			display: inline-block;
			width: 40px;
			height: 8px;
		}

		&__inner {
			position: absolute;
			width: 40px;
			height: 4px;
			transition-timing-function: ease;
			transition-duration: 0.15s;
			transition-property: transform;
			border-radius: 4px;
			background-color: #000;

			&::after,
			&::before {
				position: absolute;
				width: 40px;
				height: 4px;
				transition-timing-function: ease;
				transition-duration: 0.15s;
				transition-property: transform;
				border-radius: 4px;
				background-color: #000;
				display: block;
				content: "";
			}

			&::before {
				top: -10px;
				transition: top 0.2s ease-in 0.35s, opacity 0.2s ease-in;
			}

			&::after {
				bottom: -10px;
				transition: bottom 0.2s ease-in 0.35s, transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
			}
		}

		&.is-active {
			.hamburger__inner {
				transition-delay: 0.12s;
				transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
				transform: rotate(225deg);
				background-color: #000;

				&::before {
					top: 0;
					transition: top 0.2s ease-out, opacity 0.2s ease-out 0.12s;
					opacity: 0;
					background-color: #000;
				}

				&::after {
					background-color: #000;
					bottom: 0;
					transition: bottom 0.2s ease-out, transform 0.32s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
					transform: rotate(-90deg);
				}
			}
		}
	}

	@media (max-width: 991px) {
		height: 70px;
		background-color: #fff;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 1px 10px rgba(0, 0, 0, 0.12), 0 4px 5px rgba(0, 0, 0, 0.14);

		&::before {
			content: none;
		}

		& > .container {
			z-index: 3;

			.row {
				width: 100%;
				justify-content: space-between;

				.footer__phone,
				.container .row > ul {
					display: none;
				}
			}
		}
	}
}

.header {
	&__logo {
		width: 54px;
		margin-right: 30px;

		img {
			max-width: 100%;
			max-height: 100%;
		}

		@media (min-width: 992px) {
			order: 1;
		}

		@media (max-width: 1246px) {
			margin-right: 15px;
		}

		@media (max-width: 991px) {
			width: auto;
			height: 49px;
		}
	}

	&__cart,
	&__profile {
		font-weight: 500;
		font-size: 15px;
		color: #402a14;
		display: flex;
		align-items: center;
		cursor: pointer;
		text-decoration: none;

		@media (max-width: 575px) {
			font-size: 14px;
		}

		i {
			display: block;
			margin-right: 10px;
			background-position: center;
			-webkit-background-size: 100%;
			background-size: 100%;
			background-repeat: no-repeat;
		}
	}

	&__user-icon {
		display: block;
		margin-right: 10px;
		background-position: center;
		-webkit-background-size: 100%;
		background-size: 100%;
		background-repeat: no-repeat;
		flex-shrink: 0;
		width: 17.14px;
		height: 20px;
		background-image: url(../images/icons/profile.svg);

		@media (min-width: 992px) {
			order: 5;
		}

		@media (max-width: 991px) {
			margin-right: 15px;
		}
	}

	&__mob-user {
		display: flex;
		align-items: center;
		order: 2;
	}

	&__cart {
		margin-right: 26px;

		@media (min-width: 992px) {
			order: 4;
		}

		@media (max-width: 1246px) {
			margin-right: 10px;
		}

		i {
			width: 14.62px;
			height: 18px;
			background-image: url(../images/icons/cart-header.svg);
		}

		* {
			user-select: none;
		}
	}

	&__profile {
		max-width: 100px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		@media (min-width: 992px) {
			order: 6;
		}
	}

	&__user {
		display: flex;
	}
}
