.mobile-menu {
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 0;
	overflow: auto;
	padding-top: 70px;
	opacity: 0;

	.row {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	ul {
		list-style: none;
		margin-right: 0;
		width: calc(100% - 30px);
		margin-bottom: 10px;

		li {
			width: 100%;
			margin-bottom: 15px;

			@media (max-width: 991px) {
				display: block;
			}

			border-bottom: 1px solid #f0ecec;
			margin-top: 5px;
			opacity: 0;
			transition: opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
			transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
			transition: transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99), opacity 0.6s cubic-bezier(0.4, 0.01, 0.165, 0.99), -webkit-transform 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);

			@media (max-width: 991px) {
				margin-bottom: 0;
				padding-bottom: 10px;
				margin-top: 11px;
				display: block;
			}

			&:nth-child(1) {
				transition-delay: 0.35s;
			}

			&:nth-child(2) {
				transition-delay: 0.3s;
			}

			&:nth-child(3) {
				transition-delay: 0.25s;
			}

			&:nth-child(4) {
				transition-delay: 0.2s;
			}

			&:nth-child(5) {
				transition-delay: 0.15s;
			}

			&:nth-child(6) {
				transition-delay: 0.1s;
			}

			&:nth-child(7) {
				transition-delay: 0.05s;
			}

			ul {
				margin-top: 5px;
			}

			a {
				max-width: calc(100% - 20px);
				color: #402a14;

				@media (max-width: 991px) {
					display: block;
				}
			}
		}
	}

	&.menu-open {
		@media (max-width: 991px) {
			z-index: 1;
			height: 100%;
			background: #fff;
			transition: all 0.45s ease-out, background 0.8s ease-out;
			padding-bottom: 20px;
			opacity: 1;

			ul {
				margin-top: 20px;

				li {
					opacity: 1;

					&:nth-child(1) {
						transition-delay: 0.05s;
					}

					&:nth-child(2) {
						transition-delay: 0.1s;
					}

					&:nth-child(3) {
						transition-delay: 0.15s;
					}

					&:nth-child(4) {
						transition-delay: 0.2s;
					}

					&:nth-child(5) {
						transition-delay: 0.25s;
					}

					&:nth-child(6) {
						transition-delay: 0.3s;
					}

					&:nth-child(7) {
						transition-delay: 0.35s;
					}
				}
			}
		}
	}
}
