.product-description {
	display: block;
	padding-top: 30px;

	p {
		margin-bottom: 20px;
		font-size: 16px;
		line-height: 150%;
		color: $purple;
		letter-spacing: 0.02em;
		margin-top: 0;

		@media (max-width: 575px) {
			font-size: 14px;
		}
	}
}

.product {
	&__tabs {
		display: flex;
		flex-wrap: wrap;

		@media (max-width: 767px) {
			flex-direction: column;
			align-items: flex-start;
		}
	}

	&__tab {
		font-weight: bold;
		font-size: 24px;
		//color: #99839e;
		color: $purple;
		margin-right: 40px;
		cursor: pointer;
		transition: color 0.3s;
		width: 100%;

		@media (max-width: 575px) {
			font-size: 18px;
		}

		&:last-child {
			margin-right: 0;
		}

		&.active,
		&:hover {
			color: $purple;
		}
	}

	&__content {
		width: 825px;
		max-width: 100%;
		padding-bottom: 20px;
	}

	&__tab-content {
		display: block;
		position: relative;
		margin-bottom: 20px;

		&.active {
			display: block;
		}
	}
}
