<section class="product-description">
	<div class="container">
		<div class="row">
			<div class="product__tabs">
				<div class="product__tab active">Описание</div>
				<div class="product__tab">Оплата и доставка</div>
			</div>
			<div class="product__content">
				<div class="product__tab-content active">
					<div class="product-title">Полезные свойства</div>
					<p>Голубика похожа на чернику, их часто путают. Обе ягоды растут обильно, обе – кустарники, только
						плоды
						голубики водянистые, менее сладкие, с зеленоватой мякотью, примерно в 2 раза крупнее черники.
						Ягоды голубики содержат витамины В1, В2, РР, С, А, Р, кальций, фосфор, железо, фенольные
						соединения,
						сахара, органические кислоты, клетчатку, дубильные, красящие и пектиновые вещества. Практически
						те же
						вещества содержатся и в листьях.
						Полезны не только ягоды голубики, но и листья. В них содержатся те же полезные вещества, но
						только в
						меньшей концентрации. Листья голубики широко используются для приготовления отваров и в
						маринадах. Так
						же сок из голубики гораздо более полезен, чем виноградный, яблочный и гранатовый соки. Все дело
						в том,
						что сок голубики обладает уникальными антиоксидантными свойствами. Было выяснено, антиоксидантов
						в соке
						голубики в разы больше, чем в других соках. Также в нем содержится большое количество природных
						компаундов, обладающих противовоспалительными свойствами. Более того, если выпивать в день
						порцию
						натурального сока голубики, то организм получит среднесуточную норму витаминов, которыми богаты
						фрукты.
						Этот сок можно пить при любой диете.</p>
					<div class="product-title">Как и где хранить голубику?</div>
					<p>Для хранения ягод голубики необходимо отбирать исключительно зрелые плоды крупного размера. По
						срокам
						выделяют два способа хранения ягод:
						Недолгое. В течение трех дней плоды могут храниться при комнатной температуре.
						Длительное. Если ягоды помыть, просушить, распределить по стеклянной таре и поставить в
						холодильник на
						верхнюю полочку, плоды могут оставаться свежими и пригодными в пищу на протяжении десяти суток.
						Также голубику можно заготовить на зиму такими способами, как заморозка, сушка, засахаривание,
						замачивание в воде и варка из ягод варенья.</p>
				</div>
				<div class="product__tab-content">
					<div class="product-title">Полезные свойства</div>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias dolore dolorum earum et. Assumenda corporis distinctio harum modi, officiis reiciendis.</p>
					<div class="product-title">Как и где хранить голубику?</div>
					<p>Для хранения ягод голубики необходимо отбирать исключительно зрелые плоды крупного размера. По
						срокам
						выделяют два способа хранения ягод:
						Недолгое. В течение трех дней плоды могут храниться при комнатной температуре.
						Длительное. Если ягоды помыть, просушить, распределить по стеклянной таре и поставить в
						холодильник на
						верхнюю полочку, плоды могут оставаться свежими и пригодными в пищу на протяжении десяти суток.
						Также голубику можно заготовить на зиму такими способами, как заморозка, сушка, засахаривание,
						замачивание в воде и варка из ягод варенья.</p>
				</div>
			</div>
		</div>

	</div>
</section>
