.howItWork-text {
	margin-bottom: 49px;

	p {
		font-size: 16px;
		color: $purple;
		line-height: 1.5;

		b {
			margin-bottom: 14px;
			display: block;
		}

		@media (max-width: 767px) {
			br {
				display: none;
			}
		}

		@media (max-width: 575px) {
			font-size: 14px;
		}
	}
}
