<section class="howItWork-text">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6">
				<p><b>Как и где хранить голубику?</b></p>
				<p>Для хранения ягод голубики необходимо отбирать исключительно зрелые плоды крупного размера. По срокам выделяют два способа хранения ягод: <br>
Недолгое. В течение трех дней плоды могут храниться при комнатной температуре. <br>
Длительное. Если ягоды помыть, просушить, распределить по стеклянной таре и поставить в холодильник на верхнюю полочку</p>
			</div>
			<div class="col-12 col-md-6">
				<p><b>&nbsp;</b></p>
				<p>Для хранения ягод голубики необходимо отбирать исключительно зрелые плоды крупного размера. По срокам выделяют два способа хранения ягод: <br>
Недолгое. В течение трех дней плоды могут храниться при комнатной температуре. <br>
Длительное. Если ягоды помыть, просушить, распределить по стеклянной таре и поставить в холодильник на верхнюю полочку</p>
			</div>
		</div>
	</div>
</section>
