<div class="product-vitamins">
	<div class="container">
		<div class="row">
			<div class="product-title">Полезные элементы</div>
			<ul>
				<li>Витамин А - <b>0.29 мг</b></li>
				<li>Витамин B1(тиамин) - <b>0.01 мг</b></li>
				<li>Витамин B2(рибофлавин) - <b>0.02 мг</b></li>
				<li>Ниацин (витамин B3 или PP) - <b>0.28 мг</b></li>
				<li>Витамин C - <b>0.20 мг</b></li>
				<li>Фосфор - <b>8 мг</b></li>
				<li>Витамин E(токоферал) - <b>0.57 мг</b></li>
				<li>Витамин K(филлохинон) - <b>19 мкг</b></li>
				<li>Калий - <b>51 мг</b></li>
				<li>Кальций - <b>16 мг</b></li>
				<li>Магний - <b>7 мг</b></li>
				<li>Натрий - <b>6 мг</b></li>
			</ul>
		</div>
	</div>
</div>
