.product-vitamins {
	display: block;
	padding-top: 20px;
	padding-bottom: 11px;
	background-color: #fff;

	ul {
		column-count: 2;
		min-width: 728px;

		@media (max-width: 991px) {
			min-width: unset;
			width: 100%;
		}

		@media (max-width: 575px) {
			column-count: 1;
		}

		li {
			font-size: 16px;
			line-height: 260%;
			color: $purple;

			@media (max-width: 575px) {
				font-size: 14px;
			}
		}
	}
}

.product-title {
	width: 100%;
	font-weight: bold;
	font-size: 16px;
	color: $purple;
	margin-bottom: 14px;
}
