@font-face {
	font-family: 'Gilroy';
	src: url('../../fonts/Gilroy-Regular.eot');
	src:
		local('Gilroy Regular'),
		local('Gilroy-Regular'),
		url('../../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Gilroy-Regular.woff2') format('woff2'),
		url('../../fonts/Gilroy-Regular.woff') format('woff'),
		url('../../fonts/Gilroy-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../../fonts/Gilroy-Bold.eot');
	src:
		local('Gilroy Bold'),
		local('Gilroy-Bold'),
		url('../../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Gilroy-Bold.woff2') format('woff2'),
		url('../../fonts/Gilroy-Bold.woff') format('woff'),
		url('../../fonts/Gilroy-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../../fonts/Gilroy-Black.eot');
	src:
		local('Gilroy Black'),
		local('Gilroy-Black'),
		url('../../fonts/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Gilroy-Black.woff2') format('woff2'),
		url('../../fonts/Gilroy-Black.woff') format('woff'),
		url('../../fonts/Gilroy-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../../fonts/Gilroy-Light.eot');
	src:
		local('Gilroy Light'),
		local('Gilroy-Light'),
		url('../../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Gilroy-Light.woff2') format('woff2'),
		url('../../fonts/Gilroy-Light.woff') format('woff'),
		url('../../fonts/Gilroy-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../../fonts/Gilroy-Semibold.eot');
	src:
		local('Gilroy Semibold'),
		local('Gilroy-Semibold'),
		url('../../fonts/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Gilroy-Semibold.woff2') format('woff2'),
		url('../../fonts/Gilroy-Semibold.woff') format('woff'),
		url('../../fonts/Gilroy-Semibold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../../fonts/Gilroy-Medium.eot');
	src:
		local('Gilroy Medium'),
		local('Gilroy-Medium'),
		url('../../fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Gilroy-Medium.woff2') format('woff2'),
		url('../../fonts/Gilroy-Medium.woff') format('woff'),
		url('../../fonts/Gilroy-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../../fonts/Gilroy-UltraLight.eot');
	src:
		local('Gilroy UltraLight'),
		local('Gilroy-UltraLight'),
		url('../../fonts/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Gilroy-UltraLight.woff2') format('woff2'),
		url('../../fonts/Gilroy-UltraLight.woff') format('woff'),
		url('../../fonts/Gilroy-UltraLight.ttf') format('truetype');
	font-weight: 200;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../../fonts/Gilroy-Heavy.eot');
	src:
		local('Gilroy Heavy'),
		local('Gilroy-Heavy'),
		url('../../fonts/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Gilroy-Heavy.woff2') format('woff2'),
		url('../../fonts/Gilroy-Heavy.woff') format('woff'),
		url('../../fonts/Gilroy-Heavy.ttf') format('truetype');
	font-weight: 900;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../../fonts/Gilroy-Extrabold.eot');
	src:
		local('Gilroy Extrabold'),
		local('Gilroy-Extrabold'),
		url('../../fonts/Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Gilroy-Extrabold.woff2') format('woff2'),
		url('../../fonts/Gilroy-Extrabold.woff') format('woff'),
		url('../../fonts/Gilroy-Extrabold.ttf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'HindKochi';
	src: url('../../fonts/Hind-Medium.eot');
	src:
		local('HindKochi Medium'),
		local('HindKochi-Medium'),
		url('../../fonts/Hind-Medium.eot?#iefix') format('embedded-opentype'),
		url('../../fonts/Hind-Medium.woff2') format('woff2'),
		url('../../fonts/Hind-Medium.woff') format('woff'),
		url('../../fonts/Hind-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
