<section class="favorite-page history-page">
	<div class="container">
		<div class="row">
			<div class="col-12 d-flex flex-wrap">
				<div class="favorite-page__title">
					Общая сумма Ваших заказов: <span>2300 руб</span>
				</div>
				<div class="favorite-page__title">
					Ваша скидка: <span>5%</span>
				</div>
			</div>
			<div class="col-12 d-flex flex-column">
				<div class="col-12 d-flex flex-wrap align-items-start flex-basis-unset">
					<div class="favorite-page__title">
						Текущие заказы
					</div>
					<div class="sort-block">
						Сортировать по
						<div class="sort-block__item">Цене
							<div class="sort-arrow up"></div>
						</div>
						<div class="sort-block__item">Дате
							<div class="sort-arrow"></div>
						</div>
					</div>
				</div>
				<div class="history-page__items">
					<div class="col-12 col-sm-6 col-md-6 col-lg-4 history-page__item">
						<div class="order-block__final">
							<div class="product-title">Заказ <p class="paid">Оплачен</p> <span>01.02.2020</span></div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Гранат,</b> Эквадор</div>
								<div class="order-block__price">10,00 <span>руб</span></div>
								<div class="order-block__weight">1 кг</div>
							</div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Киви,</b> Эквадор</div>
								<div class="order-block__price">6,00 <span>руб</span></div>
								<div class="order-block__weight">200 г</div>
							</div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>
							<div class="order-block__price">
								<span>Итого </span> 100,00 <span>руб </span>
							</div>
							<div class="paysystem-yandex mb-4" id="paysystem-assest">
								<form id="paysystem-assest-form" action="https://test.paysec.by/pay/order.cfm" method="POST" target="_blank">

									<p></p>
									<p>Cчет №		74/1 от 28.09.2020 13:56:01</p>
									<p>	</p>

									<input type="hidden" name="Merchant_ID" value="456174">
									<input type="hidden" name="OrderNumber" value="74">
									<input type="hidden" name="OrderAmount" value="">
									<input type="hidden" name="OrderCurrency" value="BYN">
									<input type="hidden" name="Delay" value="">
									<input type="hidden" name="Language" value="ru">
									<input type="hidden" name="URL_RETURN_OK" value="http://fru.imediasolutions.ru/order/assist_success.php">
									<input type="hidden" name="URL_RETURN_NO" value="http://fru.imediasolutions.ru/order/assist_failed.php">
									<input type="hidden" name="OrderComment" value="Invoice 74 (28.09.2020 13:56:01)">
									<input type="hidden" name="Lastname" value="">
									<input type="hidden" name="Firstname" value="foxstyle2">
									<input type="hidden" name="Middlename" value="">
									<input type="hidden" name="Email" value="a.hramenkov@imedia.by">
									<input type="hidden" name="Address" value="">
									<input type="hidden" name="MobilePhone" value="10">
									<input type="hidden" name="CardPayment" value="1">
									<input type="hidden" name="YMPayment" value="1">
									<input type="hidden" name="QIWIPayment" value="1">
									<input type="hidden" name="WMPayment" value="1">
									<input type="hidden" name="AssistIDPayment" value="1">

									<input type="submit" name="Submit" class="btn btn-primary pl-4 pr-4" value="Оплатить">
								</form>

								<p><strong></strong></p>
								<p></p>
								<p><strong></strong></p>
								<p></p>                				<a href="/personal/history/?ID=74&amp;COPY_ORDER=Y" class="btn">Повторить заказ</a>
							</div>

						</div>
					</div>
					<div class="col-12 col-sm-6 col-md-6 col-lg-4 history-page__item">
						<div class="order-block__final">
							<div class="product-title">Заказ <p class="paid">Оплачен</p> <span>01.02.2020</span></div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Гранат,</b> Эквадор</div>
								<div class="order-block__price">10,00 <span>руб</span></div>
								<div class="order-block__weight">1 кг</div>
							</div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Киви,</b> Эквадор</div>
								<div class="order-block__price">6,00 <span>руб</span></div>
								<div class="order-block__weight">200 г</div>
							</div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>
							<div class="order-block__item hidden">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>
							<div class="order-block__item hidden">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>
							<div class="order-block__item hidden">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>

							<div class="order-block__price">
								<a href="#" class="more">Подробнее</a> <span>Итого </span> 100,00 <span>руб </span>
							</div>
							<div class="btn">Оплатить заказ</div>
							<div class="btn">Повторить заказ</div>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-md-6 col-lg-4 history-page__item">
						<div class="order-block__final">
							<div class="product-title">Заказ <p class="paid">Оплачен</p> <span>01.02.2020</span></div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Гранат,</b> Эквадор</div>
								<div class="order-block__price">10,00 <span>руб</span></div>
								<div class="order-block__weight">1 кг</div>
							</div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Киви,</b> Эквадор</div>
								<div class="order-block__price">6,00 <span>руб</span></div>
								<div class="order-block__weight">200 г</div>
							</div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>
							<div class="order-block__price">
								<span>Итого </span> 100,00 <span>руб </span>
							</div>
							<div class="btn">Оплатить заказ</div>
							<div class="btn">Повторить заказ</div>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-md-6 col-lg-4 history-page__item">
						<div class="order-block__final">
							<div class="product-title">Заказ <p class="paid">Оплачен</p> <span>01.02.2020</span></div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Гранат,</b> Эквадор</div>
								<div class="order-block__price">10,00 <span>руб</span></div>
								<div class="order-block__weight">1 кг</div>
							</div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Киви,</b> Эквадор</div>
								<div class="order-block__price">6,00 <span>руб</span></div>
								<div class="order-block__weight">200 г</div>
							</div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>
							<div class="order-block__item hidden">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>
							<div class="order-block__item hidden">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>
							<div class="order-block__item hidden">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>

							<div class="order-block__price">
								<a href="#" class="more">Подробнее</a> <span>Итого </span> 100,00 <span>руб </span>
							</div>
							<div class="btn">Оплатить заказ</div>
							<div class="btn">Повторить заказ</div>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-md-6 col-lg-4 history-page__item">
						<div class="order-block__final">
							<div class="product-title">Заказ <p class="paid">Оплачен</p> <span>01.02.2020</span></div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Гранат,</b> Эквадор</div>
								<div class="order-block__price">10,00 <span>руб</span></div>
								<div class="order-block__weight">1 кг</div>
							</div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Киви,</b> Эквадор</div>
								<div class="order-block__price">6,00 <span>руб</span></div>
								<div class="order-block__weight">200 г</div>
							</div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>
							<div class="order-block__price">
								<span>Итого </span> 100,00 <span>руб </span>
							</div>
							<div class="btn">Оплатить заказ</div>
							<div class="btn">Повторить заказ</div>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-md-6 col-lg-4 history-page__item">
						<div class="order-block__final">
							<div class="product-title">Заказ <p class="paid">Оплачен</p> <span>01.02.2020</span></div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Гранат,</b> Эквадор</div>
								<div class="order-block__price">10,00 <span>руб</span></div>
								<div class="order-block__weight">1 кг</div>
							</div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Киви,</b> Эквадор</div>
								<div class="order-block__price">6,00 <span>руб</span></div>
								<div class="order-block__weight">200 г</div>
							</div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>
							<div class="order-block__item hidden">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>
							<div class="order-block__item hidden">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>
							<div class="order-block__item hidden">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>

							<div class="order-block__price">
								<a href="#" class="more">Подробнее</a> <span>Итого </span> 100,00 <span>руб </span>
							</div>
							<div class="btn">Оплатить заказ</div>
							<div class="btn">Повторить заказ</div>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-md-6 col-lg-4 history-page__item">
						<div class="order-block__final">
							<div class="product-title">Заказ <p class="paid">Оплачен</p> <span>01.02.2020</span></div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Гранат,</b> Эквадор</div>
								<div class="order-block__price">10,00 <span>руб</span></div>
								<div class="order-block__weight">1 кг</div>
							</div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Киви,</b> Эквадор</div>
								<div class="order-block__price">6,00 <span>руб</span></div>
								<div class="order-block__weight">200 г</div>
							</div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>
							<div class="order-block__price">
								<span>Итого </span> 100,00 <span>руб </span>
							</div>
							<div class="btn">Оплатить заказ</div>
							<div class="btn">Повторить заказ</div>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-md-6 col-lg-4 history-page__item">
						<div class="order-block__final">
							<div class="product-title">Заказ <p class="paid">Оплачен</p> <span>01.02.2020</span></div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Гранат,</b> Эквадор</div>
								<div class="order-block__price">10,00 <span>руб</span></div>
								<div class="order-block__weight">1 кг</div>
							</div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Киви,</b> Эквадор</div>
								<div class="order-block__price">6,00 <span>руб</span></div>
								<div class="order-block__weight">200 г</div>
							</div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>
							<div class="order-block__item hidden">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>
							<div class="order-block__item hidden">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>
							<div class="order-block__item hidden">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>

							<div class="order-block__price">
								<a href="#" class="more">Подробнее</a> <span>Итого </span> 100,00 <span>руб </span>
							</div>
							<div class="btn">Оплатить заказ</div>
							<div class="btn">Повторить заказ</div>
						</div>
					</div>

				</div>
				<div class="col-12 d-flex align-items-center justify-content-center flex-basis-unset">
					<a href="#" class="up history-page__more close">
						<img src="assets/images/icons/up.svg" alt="">
						Eщe</a>
				</div>
			</div>
			<div class="col-12 d-flex flex-column">
				<div class="col-12 d-flex flex-wrap align-items-start flex-basis-unset">
					<div class="favorite-page__title">
						Прошлые заказы
					</div>
					<div class="sort-block">
						Сортировать по
						<div class="sort-block__item">Цене
							<div class="sort-arrow up"></div>
						</div>
						<div class="sort-block__item">Дате
							<div class="sort-arrow"></div>
						</div>
					</div>
				</div>

				<div class="history-page__items">
					<div class="col-12 col-sm-6 col-md-6 col-lg-4 history-page__item">
						<div class="order-block__final">
							<div class="product-title">Заказ <p class="paid">Оплачен</p> <span>01.02.2020</span></div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Гранат,</b> Эквадор</div>
								<div class="order-block__price">10,00 <span>руб</span></div>
								<div class="order-block__weight">1 кг</div>
							</div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Киви,</b> Эквадор</div>
								<div class="order-block__price">6,00 <span>руб</span></div>
								<div class="order-block__weight">200 г</div>
							</div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>
							<div class="order-block__price">
								<span>Итого </span> 100,00 <span>руб </span>
							</div>
							<div class="btn">Оплатить заказ</div>
							<div class="btn">Повторить заказ</div>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-md-6 col-lg-4 history-page__item">
						<div class="order-block__final">
							<div class="product-title">Заказ <p class="paid">Оплачен</p> <span>01.02.2020</span></div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Гранат,</b> Эквадор</div>
								<div class="order-block__price">10,00 <span>руб</span></div>
								<div class="order-block__weight">1 кг</div>
							</div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Киви,</b> Эквадор</div>
								<div class="order-block__price">6,00 <span>руб</span></div>
								<div class="order-block__weight">200 г</div>
							</div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>
							<div class="order-block__item hidden">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>
							<div class="order-block__item hidden">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>
							<div class="order-block__item hidden">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>

							<div class="order-block__price">
								<a href="#" class="more">Подробнее</a> <span>Итого </span> 100,00 <span>руб </span>
							</div>
							<div class="btn">Оплатить заказ</div>
							<div class="btn">Повторить заказ</div>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-md-6 col-lg-4 history-page__item">
						<div class="order-block__final">
							<div class="product-title">Заказ <p class="paid">Оплачен</p> <span>01.02.2020</span></div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Гранат,</b> Эквадор</div>
								<div class="order-block__price">10,00 <span>руб</span></div>
								<div class="order-block__weight">1 кг</div>
							</div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Киви,</b> Эквадор</div>
								<div class="order-block__price">6,00 <span>руб</span></div>
								<div class="order-block__weight">200 г</div>
							</div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>
							<div class="order-block__price">
								<span>Итого </span> 100,00 <span>руб </span>
							</div>
							<div class="btn">Оплатить заказ</div>
							<div class="btn">Повторить заказ</div>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-md-6 col-lg-4 history-page__item">
						<div class="order-block__final">
							<div class="product-title">Заказ <p class="paid">Оплачен</p> <span>01.02.2020</span></div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Гранат,</b> Эквадор</div>
								<div class="order-block__price">10,00 <span>руб</span></div>
								<div class="order-block__weight">1 кг</div>
							</div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Киви,</b> Эквадор</div>
								<div class="order-block__price">6,00 <span>руб</span></div>
								<div class="order-block__weight">200 г</div>
							</div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>
							<div class="order-block__item hidden">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>
							<div class="order-block__item hidden">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>
							<div class="order-block__item hidden">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>

							<div class="order-block__price">
								<a href="#" class="more">Подробнее</a> <span>Итого </span> 100,00 <span>руб </span>
							</div>
							<div class="btn">Оплатить заказ</div>
							<div class="btn">Повторить заказ</div>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-md-6 col-lg-4 history-page__item">
						<div class="order-block__final">
							<div class="product-title">Заказ <p class="paid">Оплачен</p> <span>01.02.2020</span></div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Гранат,</b> Эквадор</div>
								<div class="order-block__price">10,00 <span>руб</span></div>
								<div class="order-block__weight">1 кг</div>
							</div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Киви,</b> Эквадор</div>
								<div class="order-block__price">6,00 <span>руб</span></div>
								<div class="order-block__weight">200 г</div>
							</div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>
							<div class="order-block__price">
								<span>Итого </span> 100,00 <span>руб </span>
							</div>
							<div class="btn">Оплатить заказ</div>
							<div class="btn">Повторить заказ</div>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-md-6 col-lg-4 history-page__item">
						<div class="order-block__final">
							<div class="product-title">Заказ <p class="paid">Оплачен</p> <span>01.02.2020</span></div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Гранат,</b> Эквадор</div>
								<div class="order-block__price">10,00 <span>руб</span></div>
								<div class="order-block__weight">1 кг</div>
							</div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Киви,</b> Эквадор</div>
								<div class="order-block__price">6,00 <span>руб</span></div>
								<div class="order-block__weight">200 г</div>
							</div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>
							<div class="order-block__item hidden">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>
							<div class="order-block__item hidden">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>
							<div class="order-block__item hidden">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>

							<div class="order-block__price">
								<a href="#" class="more">Подробнее</a> <span>Итого </span> 100,00 <span>руб </span>
							</div>
							<div class="btn">Оплатить заказ</div>
							<div class="btn">Повторить заказ</div>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-md-6 col-lg-4 history-page__item">
						<div class="order-block__final">
							<div class="product-title">Заказ <p class="paid">Оплачен</p> <span>01.02.2020</span></div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Гранат,</b> Эквадор</div>
								<div class="order-block__price">10,00 <span>руб</span></div>
								<div class="order-block__weight">1 кг</div>
							</div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Киви,</b> Эквадор</div>
								<div class="order-block__price">6,00 <span>руб</span></div>
								<div class="order-block__weight">200 г</div>
							</div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>
							<div class="order-block__price">
								<span>Итого </span> 100,00 <span>руб </span>
							</div>
							<div class="btn">Оплатить заказ</div>
							<div class="btn">Повторить заказ</div>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-md-6 col-lg-4 history-page__item">
						<div class="order-block__final">
							<div class="product-title">Заказ <p class="paid">Оплачен</p> <span>01.02.2020</span></div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Гранат,</b> Эквадор</div>
								<div class="order-block__price">10,00 <span>руб</span></div>
								<div class="order-block__weight">1 кг</div>
							</div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Киви,</b> Эквадор</div>
								<div class="order-block__price">6,00 <span>руб</span></div>
								<div class="order-block__weight">200 г</div>
							</div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>
							<div class="order-block__item hidden">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>
							<div class="order-block__item hidden">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>
							<div class="order-block__item hidden">
								<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
								<div class="order-block__price">7,60 <span>руб</span></div>
								<div class="order-block__weight">340 г</div>
							</div>

							<div class="order-block__price">
								<a href="#" class="more">Подробнее</a> <span>Итого </span> 100,00 <span>руб </span>
							</div>
							<div class="btn">Оплатить заказ</div>
							<div class="btn">Повторить заказ</div>
						</div>
					</div>

				</div>
				<div class="col-12 d-flex align-items-center justify-content-center flex-basis-unset">
					<a href="#" class="up history-page__more close">
						<img src="assets/images/icons/up.svg" alt="">
						Eщe</a>
				</div>
			</div>


		</div>
	</div>
</section>
