.history-page {
	display: block;

	&__items {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	&__more {
		background-image: unset !important;
		height: 71px !important;
		text-align: center;

		img {
			transform: rotate(0deg);
			width: 50px;
			height: 50px;
		}

		div,
		span {
			width: 50px;
			height: 50px;
			background-image: url(../images/icons/up.svg);
			transform: rotate(0deg);
			flex-shrink: 0;
		}

		&.close {
			img {
				transform: rotate(180deg);
			}

			div,
			span {
				transform: rotate(180deg);
			}
		}
	}

	.product-title {
		font-size: 14px;
		display: flex;
		justify-content: space-between;
		line-height: 100%;

		.paid {
			margin-left: 20px;
		}

		@media (max-width: 767px) {
			font-size: 12px;
		}
	}

	.order-block__final {
		margin-bottom: 39px;

		.paysystem-yandex {
			display: flex;
			margin-bottom: 0 !important;

			form {
				display: flex;
				flex-direction: column;
			}

			p {
				display: none;
			}

			a.btn {
				display: block;
			}
		}
	}

	.order-block__price {
		margin-top: 0;

		a {
			display: block;
			float: left;
			color: #9b00c1;
			font-size: 14px;
			font-weight: 500;
			margin-top: 4px;

			@media (max-width: 767px) {
				font-size: 12px;
				margin-top: 6px;
			}
		}
	}
}

.sort-block {
	display: flex;
	margin-bottom: 29px;
	margin-left: auto;

	@media (max-width: 767px) {
		width: 100%;
		font-size: 14px;
	}

	&__item {
		cursor: pointer;
		display: flex;
		margin-left: 10px;
		user-select: none;
	}

	.sort-arrow {
		width: 14px;
		height: 14px;
		background-position: center;
		-webkit-background-size: 100%;
		background-size: 100%;
		background-repeat: no-repeat;
		margin-left: 5px;
		margin-top: 2px;
		background-image: url(../images/icons/arrow-down-purple.svg);
		margin-bottom: 0;

		@media (max-width: 767px) {
			width: 12px;
			height: 12px;
			margin-top: 1px;
		}

		&.up {
			transform: rotate(180deg);
			background-image: url(../images/icons/arrow-down-purple.svg);
		}
	}
}

.flex-basis-unset {
	flex-basis: unset;
}
