<section class="favorite-page history-page">
	<div class="container">
		<div class="row">
			<div class="col-12 d-flex flex-wrap">
				<div class="favorite-page__title">
					Общая сумма Ваших заказов: <span>2300 руб</span>
				</div>
				<div class="favorite-page__title">
					Ваша скидка: <span>5%</span>
				</div>
			</div>
			<div class="history-page__items">
				<div class="col-12 col-sm-6 col-md-6 col-lg-4 history-page__item">
					<div class="order-block__final">
						<div class="product-title">Заказ <p class="paid">Оплачен</p> <span>01.02.2020</span></div>
						<div class="order-block__item">
							<div class="order-block__name"><b>Гранат,</b> Эквадор</div>
							<div class="order-block__price">10,00 <span>руб</span></div>
							<div class="order-block__weight">1 кг</div>
						</div>
						<div class="order-block__item">
							<div class="order-block__name"><b>Киви,</b> Эквадор</div>
							<div class="order-block__price">6,00 <span>руб</span></div>
							<div class="order-block__weight">200 г</div>
						</div>
						<div class="order-block__item">
							<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
							<div class="order-block__price">7,60 <span>руб</span></div>
							<div class="order-block__weight">340 г</div>
						</div>
						<div class="order-block__price">
							<span>Итого </span> 100,00 <span>руб </span>
						</div>
						<div class="btn">Повторить заказ</div>
					</div>
				</div>
				<div class="col-12 col-sm-6 col-md-6 col-lg-4 history-page__item">
					<div class="order-block__final">
						<div class="product-title">Заказ <p class="paid">Оплачен</p> <span>01.02.2020</span></div>
						<div class="order-block__item">
							<div class="order-block__name"><b>Гранат,</b> Эквадор</div>
							<div class="order-block__price">10,00 <span>руб</span></div>
							<div class="order-block__weight">1 кг</div>
						</div>
						<div class="order-block__item">
							<div class="order-block__name"><b>Киви,</b> Эквадор</div>
							<div class="order-block__price">6,00 <span>руб</span></div>
							<div class="order-block__weight">200 г</div>
						</div>
						<div class="order-block__item">
							<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
							<div class="order-block__price">7,60 <span>руб</span></div>
							<div class="order-block__weight">340 г</div>
						</div>
						<div class="order-block__item hidden">
							<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
							<div class="order-block__price">7,60 <span>руб</span></div>
							<div class="order-block__weight">340 г</div>
						</div>
						<div class="order-block__item hidden">
							<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
							<div class="order-block__price">7,60 <span>руб</span></div>
							<div class="order-block__weight">340 г</div>
						</div>
						<div class="order-block__item hidden">
							<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>
							<div class="order-block__price">7,60 <span>руб</span></div>
							<div class="order-block__weight">340 г</div>
						</div>

						<div class="order-block__price">
							<a href="#" class="more">Подробнее</a> <span>Итого </span> 100,00 <span>руб </span>
						</div>
						<div class="btn">Повторить заказ</div>
					</div>
				</div>

			</div>


		</div>
	</div>
</section>
