<section class="inner-header">
	<div class="container">
		<div class="row">
			<ul class="breadcrumbs">
				<li>
					<a href="">Главная</a>
				</li>
				<li>
					<span>Каталог</span>
				</li>
			</ul>
			<div class="inner-header__category">
				<div class="row">
					<div class="main-title">Фрукты</div>
					<div class="inner-header__slider slider-init swiper-slider">
						<div class="swiper-arrow swiper-prev">
							<i></i>
						</div>
						<div class="swiper-container">
							<div class="swiper-wrapper">
								<a href="" class="swiper-slide inner-header__slide">Овощи</a>
								<a href="" class="swiper-slide inner-header__slide">Зелень</a>
								<a href="" class="swiper-slide inner-header__slide">Орехи</a>
								<a href="" class="swiper-slide inner-header__slide">Ягоды</a>
								<a href="" class="swiper-slide inner-header__slide">Снеки</a>
								<a href="" class="swiper-slide inner-header__slide">Напитки</a>
								<a href="" class="swiper-slide inner-header__slide">Наборы</a>
								<a href="" class="swiper-slide inner-header__slide">Овощи</a>
								<a href="" class="swiper-slide inner-header__slide">Зелень</a>
								<a href="" class="swiper-slide inner-header__slide">Орехи</a>
								<a href="" class="swiper-slide inner-header__slide">Ягоды</a>
								<a href="" class="swiper-slide inner-header__slide">Снеки</a>
								<a href="" class="swiper-slide inner-header__slide">Напитки</a>
								<a href="" class="swiper-slide inner-header__slide">Наборы</a>
							</div>
						</div>
						<div class="swiper-arrow swiper-next">
							<i></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
