.breadcrumbs {
	display: inline-flex;
	margin-bottom: 12px;
	flex-wrap: wrap;
	width: 100%;

	li {
		a,
		span {
			font-weight: 500;
			font-size: 13px;
			color: $purple;
		}

		a {
			margin-right: 20px;
			display: inline-flex;
			align-items: center;

			&::after {
				content: "";
				margin-left: 20px;
				width: 6px;
				height: 8px;
				display: block;
				background-image: url(../images/icons/breadcumb-arrow.svg);
				-webkit-background-size: 100%;
				background-size: 100%;
				background-repeat: no-repeat;
				margin-top: -3px;
			}
		}
	}
}

.inner-header {
	display: block;
	padding-top: 136px;
	padding-bottom: 12px;
	background-image: url(../images/header-inner1.png);
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;

	&__category {
		width: 100%;
		margin-bottom: 11px;

		.row {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
			display: flex;
			align-items: flex-end;
			flex-wrap: nowrap;

			@media (max-width: 991px) {
				margin: 0;
				flex-wrap: wrap;

				.main-title {
					padding: 0;
				}
			}
		}
	}

	.main-title {
		display: flex;
		align-items: flex-end;
		white-space: nowrap;

		span {
			display: block;
			flex-shrink: 0;
		}

		@media (max-width: 1199px) {
			font-size: 50px;
		}

		@media (max-width: 991px) {
			flex-wrap: wrap;
			white-space: normal;

			span {
				order: 2;
				display: block;
				width: calc(100% - 140.84px);
			}
		}

		@media (max-width: 767px) {
			font-size: 40px;
		}

		@media (max-width: 575px) {
			font-size: 25px;
		}
	}

	.swiper-slide {
		font-weight: 600;
		font-size: 24px;
		color: $purple;
		margin-left: 15px;
		margin-right: 15px;
		cursor: pointer;
		width: auto;

		@media (max-width: 991px) {
			font-size: 18px;
		}

		@media (max-width: 767px) {
			font-size: 16px;
			margin-left: 10px;
			margin-right: 10px;
		}
	}

	.country,
	.login-link,
	.logout-link {
		font-weight: bold;
		color: #99839e;

		@media (max-width: 991px) {
			margin-left: 0;
		}
	}

	.country {
		margin-bottom: 16px;

		@media (max-width: 1199px) {
			margin-bottom: 8px;
		}

		@media (max-width: 991px) {
			margin-bottom: 10px;
		}

		@media (max-width: 767px) {
			margin-bottom: 8px;
		}

		@media (max-width: 575px) {
			margin-bottom: 3px;
		}
	}

	.login-link,
	.logout-link {
		font-weight: 600;
		color: $purple;

		@media (max-width: 991px) {
			margin-left: 0;
		}
	}

	.logout-link {
		margin-left: 78px;
		display: flex;

		@media (max-width: 991px) {
			margin-right: 0;
		}

		@media (max-width: 767px) {
			margin-bottom: 8px;
		}

		@media (max-width: 575px) {
			margin-bottom: 5px;
		}

		i {
			width: 25px;
			height: 25px;
			display: block;
			background-image: url(../images/icons/logout.svg);
			background-position: center;
			background-repeat: no-repeat;
			-webkit-background-size: 100%;
			background-size: 100%;
			margin-right: 11.32px;
			margin-top: 1px;

			@media (max-width: 991px) {
				width: 18px;
				height: 18px;
				margin-top: 0;
			}

			@media (max-width: 575px) {
				width: 14px;
				height: 14px;
				margin-right: 7px;
				margin-top: 2px;
			}
		}
	}

	.back {
		width: 15.84px;
		height: 26.01px;
		background-position: center;
		background-repeat: no-repeat;
		-webkit-background-size: 100%;
		background-size: 100%;
		cursor: pointer;
		background-image: url(../images/icons/back.svg);
		margin-right: 21px;
		margin-bottom: 27px;
		flex-shrink: 0;

		@media (max-width: 1199px) {
			margin-bottom: 19px;
		}

		@media (max-width: 991px) {
			margin-right: 15px;
			margin-bottom: 18px;
			//order: 1;
		}

		@media (max-width: 767px) {
			width: 12px;
			height: 23px;
			margin-bottom: 13px;
			margin-right: 15px;
		}

		@media (max-width: 575px) {
			width: 7px;
			height: 18px;
			margin-right: 10px;
			margin-bottom: 7px;
		}
	}

	.swiper-arrow {
		background-color: rgba(255, 255, 255, 0.1);
		box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
		box-shadow: 29px 94px 27px rgba(255, 255, 255, 1);

		i {
			background-position: center;
			background-repeat: no-repeat;
			-webkit-background-size: 100%;
			background-size: 100%;
			width: 11.25px;
			height: 15px;
			display: block;
			background-image: url(../images/icons/breadcumb-arrow.svg);
			margin-top: -1px;
		}

		width: 29px;
		height: 100%;
		position: absolute;
		z-index: 2;
		top: 0;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		cursor: pointer;

		@media (max-width: 767px) {
			height: 20px;
		}

		&.swiper-button-disabled {
			display: none;
		}

		&::before {
			content: none;
		}

		&.swiper-next {
			right: 0;
		}

		&.swiper-prev {
			justify-content: flex-start;

			i {
				background-image: url(../images/icons/category-arrow.svg);
			}

			left: 0;

			@media (max-width: 991px) {
				left: 0;
			}
		}
	}

	&__slider {
		margin-bottom: 17px;
		margin-left: 30px;
		padding-left: 24px;
		padding-right: 15px;

		.logout-link {
			margin-left: 30px;
		}

		@media (max-width: 1199px) {
			margin-bottom: 8px;
		}

		@media (max-width: 991px) {
			margin-bottom: 10px;
			margin-left: 15px;
		}

		@media (max-width: 767px) {
			margin-bottom: 0;
			margin-top: 10px;
			margin-left: 0;
			padding-left: 15px;
			width: 100% !important;
		}

		&.slider-init {
			.swiper-arrow {
				opacity: 0;
			}
		}
	}

	.swiper-wrapper {
		width: 100%;

		@media (max-width: 991px) {
			margin-left: 0;
			width: 100%;
		}
	}

	.swiper-container {
		position: relative;
	}

	.swiper-slider {
		width: 100%;
		position: relative;
		overflow: hidden;
		z-index: 1;
	}

	.no-slider {
		.swiper-arrow {
			display: none;
		}

		.logout-link {
			margin-left: auto;
			margin-right: 0;
		}
	}
}

.catalog-page {
	.inner-header {
		margin-bottom: 30px;
	}
}
