<section class="top-slider">
	<div class="container-fluid">
		<div class="row">

			<div class="top-slider__slider">
				<div class=" top-slider__slide">
					<div class="top-slider__inner">
						<div class="main-title">Фрукты и овощи</div>
						<div class="description">доставка до дома или офиса</div>

						<div class="top-slider__price">от <span>9,90</span> byn</div>
						<div class="btn top-slider__btn">Заказать</div>
						<img src="assets/images/top-slider/package-img.png" class="package-img" alt="">
					</div>
					<img class="bg-img" src="assets/images/top-slider/1.png" alt="">
				</div>
				<div class=" top-slider__slide">
					<div class="top-slider__inner">
						<div class="main-title">Фрукты и овощи</div>
						<div class="description">доставка до дома или офиса</div>

						<div class="top-slider__price">от <span>10,00</span> byn</div>
						<div class="btn top-slider__btn">Заказать</div>
						<img src="assets/images/top-slider/package-img.png" class="package-img" alt="">
					</div>
					<img class="bg-img" src="assets/images/top-slider/2.png" alt="">
				</div>
				<div class=" top-slider__slide">
					<div class="top-slider__inner">
						<div class="main-title">Фрукты и овощи</div>
						<div class="description">доставка до дома или офиса</div>
						<div class="top-slider__price">от <span>5,60</span> byn</div>
						<div class="btn top-slider__btn">Заказать</div>
						<img src="assets/images/top-slider/package-img.png" class="package-img" alt="">
					</div>
					<img class="bg-img" src="assets/images/top-slider/3.png" alt="">
				</div>
				<div class=" top-slider__slide">
					<div class="top-slider__inner">
						<div class="main-title">Фрукты и овощи</div>
						<div class="description">доставка до дома или офиса</div>
						<div class="top-slider__price">от <span>12,50</span> byn</div>
						<div class="btn top-slider__btn">Заказать</div>
						<img src="assets/images/top-slider/package-img.png" class="package-img" alt="">
					</div>
					<img class="bg-img" src="assets/images/top-slider/4.png" alt="">
				</div>
				<div class="top-slider__slide">
					<div class="top-slider__inner">
						<div class="main-title">Фрукты и овощи</div>
						<div class="description">доставка до дома или офиса</div>
						<div class="top-slider__price">от <span>5,70</span> byn</div>
						<div class="btn top-slider__btn">Заказать</div>
						<img src="assets/images/top-slider/package-img.png" class="package-img" alt="">
					</div>
					<img class="bg-img" src="assets/images/top-slider/5.png" alt="">
				</div>
			</div>


		</div>
	</div>
</section>
