.top-slider {
	display: block;
	overflow: hidden;

	.row {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&__inner {
		width: 100%;
		height: 100%;
		white-space: nowrap;
		flex-shrink: 0;
		position: relative;
		transition: 0.4s;
		z-index: 1;

		@media (min-width: 992px) {
			transform: scale(0.65);
			opacity: 0;
		}

		&.active,
		&.no-init {
			transform: scale(1);
			opacity: 1;
		}

		&.no-init {
			width: 950px;
			max-width: 100%;
		}
	}

	&__slider {
		width: 100%;
		margin-bottom: 0 !important;

		.slick-list {
			z-index: 1;
			position: relative;
			overflow: visible;
		}

		.slick-track {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.slick-dots {
			bottom: 55px;
			z-index: 2;
			display: flex !important;
			justify-content: center;

			&::after {
				content: "";
				width: 30px;
				height: 42.5px;
				background-image: url(../images/icons/mouse-icon.svg);
				background-position: center;
				-webkit-background-size: 100%;
				background-size: 100%;
				background-repeat: no-repeat;
				display: block;
				position: absolute;
				z-index: 2;
				top: 20px;
			}

			li {
				width: 15px;
				height: 15px;
				border-radius: 100%;
				background-color: #000;
				border: 1px solid lightgray;

				button {
					opacity: 0;
				}

				&:nth-child(1) {
					background-color: #fae700;
				}

				&:nth-child(2) {
					background-color: #fff;
				}

				&:nth-child(3) {
					background-color: #43f09f;
				}

				&:nth-child(4) {
					background-color: #00dbdf;
				}

				&:nth-child(5) {
					background-color: #93d896;
				}
			}
		}
	}

	&__slide {
		position: relative;
		height: 100vh;
		min-height: 700px;
		z-index: 1;
		overflow: hidden;
		margin-left: -1px;
		margin-right: -1px;
		display: flex !important;
		align-items: center;
		justify-content: center;
		filter: blur(25px);
		transition: filter 0.3s;

		@media (max-width: 767px) {
			height: 600px;
			min-height: unset;
		}

		.bg-img {
			position: absolute;
			bottom: 0;
			min-height: 100%;
			transition: 0.3s, opacity 0.5s;
			opacity: 1;

			@media (max-width: 991px) {
				width: 100% !important;
			}
		}

		&.slick-slide-change {
			filter: blur(8px);

			.bg-img {
				opacity: 1;
				///transition: 0.4s, opacity 0s;
			}
		}

		.main-title,
		.description,
		.top-slider__price,
		.top-slider__btn,
		.package-img {
			opacity: 0;
			visibility: hidden;
			transition: 0.3s;
			transition-delay: 0.3s;
			position: relative;
			z-index: 2;
		}

		.main-title {
			margin-top: 149px;
			text-align: center;

			@media (max-width: 767px) {
				margin-top: 120px;
			}

			@media (max-width: 575px) {
				margin-top: 100px;
			}
		}

		.description {
			font-weight: bold;
			font-size: 24px;
			line-height: 30px;
			color: $purple;
			text-align: center;

			@media (max-width: 767px) {
				font-size: 20px;
			}

			@media (max-width: 575px) {
				font-size: 16px;
			}
		}

		.package-img {
			position: absolute;
			bottom: 83px;
			left: 0;
			width: 47%;
			z-index: 1;

			@media (min-width: 992px) and (max-height: 800px) {
				width: 45%;
			}

			@media (min-width: 992px) and (max-height: 700px) {
				width: 35%;
			}

			@media (max-width: 991px) {
				width: 300px;
			}

			@media (max-width: 767px) {
				width: 200px;
			}

			@media (max-width: 575px) {
				position: relative;
				width: 200px;
				display: block;
				margin-right: auto;
				margin-left: auto;
				left: unset;
				bottom: unset;
			}
		}

		.top-slider__price {
			text-align: right;
			font-weight: bold;
			font-size: 35px;
			line-height: 43px;
			color: #540069;
			margin-right: 44px;
			margin-top: 69px;

			@media (max-width: 767px) {
				margin-top: 0;
				margin-right: 30px;
				font-size: 26px;
			}

			@media (max-width: 575px) {
				margin-right: auto;
				margin-left: auto;
				text-align: center;
				font-size: 24px;
			}

			span {
				font-size: 65px;

				@media (max-width: 767px) {
					font-size: 45px;
				}

				@media (max-width: 575px) {
					font-size: 36px;
				}
			}
		}

		.top-slider__btn {
			width: 233px;
			margin-left: auto;
			margin-right: 44px;

			@media (max-width: 767px) {
				width: 180px;
				margin-right: 30px;
			}

			@media (max-width: 575px) {
				margin-right: auto;
				margin-bottom: 30px;
				width: 150px;
			}
		}

		&.no-init,
		&.swiper-slide-active,
		&.slick-active.slick-center {
			z-index: 2;
			filter: blur(0);
			overflow: visible;

			.main-title,
			.description,
			.top-slider__price,
			.top-slider__btn,
			.package-img {
				opacity: 1;
				visibility: visible;
			}

			.bg-img {
				width: 100%;
				opacity: 1;
				//transition: opacity 0s;
			}
		}
	}
}
