<script src="./assets/libs/js/jquery.min.js"></script>
<script src="./assets/libs/js/slick.min.js"></script>
<script src="./assets/libs/js/swiper.min.js"></script>
<script src="./assets/libs/js/jquery.fancybox.min.js"></script>
<script src="./assets/libs/js/wow.min.js"></script>
<script src="./assets/libs/js/ion.rangeSlider.min.js"></script>
<script src="./assets/libs/js/masonry.pkgd.min.js"></script>
<script src="./assets/libs/js/jquery.maskedinput.js"></script>
<script src="./assets/libs/js/datepicker.min.js"></script>
<script src="./assets/libs/js/jquery.lazy.min.js"></script>
<script src="./assets/libs/js/validation/jquery.validate.min.js"></script>
<script src="./assets/libs/js/validation/localization/messages_ru.min.js"></script>
<script src="./assets/scripts/app.min.js"></script>
</body>
</html>
