.eco-pack {
	background: radial-gradient(66.22% 549.22% at 95% 25%, #fff7e1 0%, rgba(255, 255, 255, 0) 100%), #f9f3f3;
	padding-top: 50px;
	padding-bottom: 50px;
	min-height: 500px;
	display: flex;
	align-items: center;

	&__title {
		width: 400px;
		position: relative;
		z-index: 2;

		.main-title {
			line-height: 100%;
			margin-bottom: 17px;
		}

		.main-description {
			margin-left: 80px;
		}

		@media (max-width: 991px) {
			width: 100%;
		}
	}

	.main-description {
		@media (max-width: 991px) {
			margin-left: 0;
		}
	}

	&__form {
		width: 350px;
		position: relative;
		z-index: 2;
		margin-left: auto;

		@media (max-width: 991px) {
			margin-right: auto;
			max-width: 100%;
		}

		.form {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	&__img {
		position: absolute;
		z-index: 1;
		margin-left: 75px;
		align-self: center;

		@media (max-width: 991px) {
			position: relative;
			margin-left: 0;
			margin-bottom: 20px;
		}

		img {
			max-width: 100%;
		}
	}

	.col-12 {
		position: relative;
	}
}
