<section class="eco-pack">
	<div class="container">
		<div class="row">
			<div class="col-12 d-flex justify-content-center align-items-cente flex-wrap">
				<div class="eco-pack__title">
					<div class="main-title">Eco-friendly упаковка</div>
					<div class="main-description">заказывайте фрукты, не переживая за планету</div>
				</div>
				<div class="eco-pack__img">
					<img src="assets/images/eco-package.png" alt="">
				</div>
				<div class="eco-pack__form">
					<form action="" class="form">
						<div class="form__item">
							<div class="title">Ваше имя</div>
							<input type="text" placeholder="Ваше имя">
						</div>
						<div class="form__item">
							<div class="title">+375</div>
							<input type="text">
						</div>
						<input type="submit" class="btn" value="Перезвоните мне">
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
