<section class="favorite-page account-page register-page">
	<div class="container">
		<div class="row">
			<div class="account-page__form">
				<div class="form__title">Персональные данные</div>
				<div class="form__item">
					<div class="title">Телефон*</div>
					<input type="text" class="phone" placeholder="Телефон*">
				</div>
				<div class="form__item">
					<div class="title">Email*</div>
					<input type="text" placeholder="Email*">
				</div>
				<div class="form__item form__error">
					<div class="title">ФИО</div>
					<input type="text" placeholder="ФИО">
					<div class="form__error-text">Неверный логин. <br> Аккаунта с таким логином нет.</div>
				</div>
				<div class="form__item">
					<div class="title">Адрес</div>
					<input type="text" placeholder="Адрес">
				</div>
			</div>

			<div class="account-page__form">
				<div class="form__title">Пароль</div>
				<div class="form__item password hide">
					<div class="title">Придумайте пароль</div>
					<input type="password" value="">
					<div class="show-password"></div>
				</div>
				<div class="form__item password hide">
					<div class="title">Повторите пароль</div>
					<input type="password">
					<div class="show-password"></div>
				</div>
				<div class="form__item form__item--check">
					<label class="checkbox">Согласен с условиями &nbsp; <a href="#"> Лицензионного соглашения</a>
						<input type="checkbox" checked>
						<span class="checkmark"></span>
					</label>
				</div>
				<div  data-fancybox data-src="#account-popup"  class="btn">Создать аккаунт</div>
			</div>
		</div>
	</div>
</section>
