.register-page {
	margin-bottom: 104px;

	@media (max-width: 991px) {
		margin-bottom: 74px;
	}

	@media (max-width: 767px) {
		margin-bottom: 54px;
	}

	.account-page__form {
		.btn {
			width: 195px;
		}
	}
}
