<section class="main-products">
	<div class="container">
		<div class="row">
			<div class="product">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
					<div class="product__item">
						<div class="product__img">
							<div class="product__discont">-5%</div>
							<img src="assets/images/product1.png" alt="">
						</div>
						<div class="product__info">
							<div class="product__like  active"></div>
							<div class="product__cart  active"></div>
							<div class="product__name"><b>Киви,</b> Эквадор</div>
							<div class="product__organic">100% organic</div>
							<div class="product__price">
								<div class="full-price">9,90 руб/кг</div>
								<div class="current-price">2,90 руб</div>
							</div>
						</div>
						<a href="" class="product__link"></a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
					<div class="product__item">
						<div class="product__img">
							<div class="product__discont">-5%</div>
							<img src="assets/images/product2.png" alt="">
						</div>
						<div class="product__info">
							<div class="product__like"></div>
							<div class="product__cart"></div>
							<div class="product__name"><b>Киви,</b> Эквадор</div>
							<div class="product__organic">100% organic</div>
							<div class="product__price">
								<div class="full-price">9,90 руб/кг</div>
								<div class="current-price">2,90 руб</div>
							</div>
						</div>
						<a href="" class="product__link"></a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
					<div class="product__item">
						<div class="product__img">
							<div class="product__discont">-5%</div>
							<img src="assets/images/product3.png" alt="">
						</div>
						<div class="product__info">
							<div class="product__like active"></div>
							<div class="product__cart  active"></div>
							<div class="product__name"><b>Киви,</b> Эквадор</div>
							<div class="product__organic">100% organic</div>
							<div class="product__price">
								<div class="full-price">9,90 руб/кг</div>
								<div class="current-price">2,90 руб</div>
							</div>
						</div>
						<a href="" class="product__link"></a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
					<div class="product__item">
						<div class="product__img">
							<div class="product__discont">-5%</div>
							<img src="assets/images/product4.png" alt="">
						</div>
						<div class="product__info">
							<div class="product__like"></div>
							<div class="product__cart"></div>
							<div class="product__name"><b>Киви,</b> Эквадор</div>
							<div class="product__organic">100% organic</div>
							<div class="product__price">
								<div class="full-price">9,90 руб/кг</div>
								<div class="current-price">2,90 руб</div>
							</div>
						</div>
						<a href="" class="product__link"></a>
					</div>
				</div>
			</div>
			<div class="product__tab">
				<div class="col-12 link-in-catalog">
					<div class="product__tabs">
						<div class="product__tab-title active">Фрукты</div>
						<div class="product__tab-title">Овощи</div>
						<div class="product__tab-title">Орехи</div>
						<div class="product__tab-title">Сухофрукты</div>
					</div>
					<a href="" class="btn">Перейти в каталог <i></i></a>
				</div>
				<div class="product__tab-content active">
					<div class="product">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
							<div class="product__item">
								<div class="product__img">
									<div class="product__discont">-5%</div>
									<img src="assets/images/product5.png" alt="">
								</div>
								<div class="product__info">
									<div class="product__like"></div>
									<div class="product__cart"></div>
									<div class="product__name"><b>Киви,</b> Эквадор</div>
									<div class="product__organic">100% organic</div>
									<div class="product__price">
										<div class="full-price">9,90 руб/кг</div>
										<div class="current-price">2,90 руб</div>
									</div>
								</div>
								<a href="" class="product__link"></a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
							<div class="product__item">
								<div class="product__img">
									<img src="assets/images/product6.png" alt="">
								</div>
								<div class="product__info">
									<div class="product__like"></div>
									<div class="product__cart"></div>
									<div class="product__name"><b>Киви,</b> Эквадор</div>
									<div class="product__organic">100% organic</div>
									<div class="product__price">
										<div class="full-price">9,90 руб/кг</div>
										<div class="current-price">2,90 руб</div>
									</div>
								</div>
								<a href="" class="product__link"></a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
							<div class="product__item">
								<div class="product__img">
									<img src="assets/images/product7.png" alt="">
								</div>
								<div class="product__info">
									<div class="product__like"></div>
									<div class="product__cart"></div>
									<div class="product__name"><b>Киви,</b> Эквадор</div>
									<div class="product__organic">100% organic</div>
									<div class="product__price">
										<div class="full-price">9,90 руб/кг</div>
										<div class="current-price">2,90 руб</div>
									</div>
								</div>
								<a href="" class="product__link"></a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
							<div class="product__item">
								<div class="product__img">
									<img src="assets/images/product8.png" alt="">
								</div>
								<div class="product__info">
									<div class="product__like"></div>
									<div class="product__cart"></div>
									<div class="product__name"><b>Киви,</b> Эквадор</div>
									<div class="product__organic">100% organic</div>
									<div class="product__price">
										<div class="full-price">9,90 руб/кг</div>
										<div class="current-price">2,90 руб</div>
									</div>
								</div>
								<a href="" class="product__link"></a>
							</div>
						</div>
					</div>
				</div>
				<div class="product__tab-content">
					<div class="product">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
							<div class="product__item">

								<div class="product__img">
									<img src="assets/images/product6.png" alt="">
								</div>
								<div class="product__info">
									<div class="product__like"></div>
									<div class="product__cart"></div>
									<div class="product__name"><b>Киви,</b> Эквадор</div>
									<div class="product__organic">100% organic</div>
									<div class="product__price">
										<div class="full-price">9,90 руб/кг</div>
										<div class="current-price">2,90 руб</div>
									</div>
								</div>
								<a href="" class="product__link"></a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
							<div class="product__item">
								<div class="product__img">

									<div class="product__discont">-5%</div>
									<img src="assets/images/product8.png" alt="">
								</div>
								<div class="product__info">
									<div class="product__like"></div>
									<div class="product__cart"></div>
									<div class="product__name"><b>Киви,</b> Эквадор</div>
									<div class="product__organic">100% organic</div>
									<div class="product__price">
										<div class="full-price">9,90 руб/кг</div>
										<div class="current-price">2,90 руб</div>
									</div>
								</div>
								<a href="" class="product__link"></a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
							<div class="product__item">
								<div class="product__img">
									<img src="assets/images/product5.png" alt="">
								</div>
								<div class="product__info">
									<div class="product__like"></div>
									<div class="product__cart"></div>
									<div class="product__name"><b>Киви,</b> Эквадор</div>
									<div class="product__organic">100% organic</div>
									<div class="product__price">
										<div class="full-price">9,90 руб/кг</div>
										<div class="current-price">2,90 руб</div>
									</div>
								</div>
								<a href="" class="product__link"></a>
							</div>
						</div>

						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
							<div class="product__item">
								<div class="product__img">
									<img src="assets/images/product7.png" alt="">
								</div>
								<div class="product__info">
									<div class="product__like"></div>
									<div class="product__cart"></div>
									<div class="product__name"><b>Киви,</b> Эквадор</div>
									<div class="product__organic">100% organic</div>
									<div class="product__price">
										<div class="full-price">9,90 руб/кг</div>
										<div class="current-price">2,90 руб</div>
									</div>
								</div>
								<a href="" class="product__link"></a>
							</div>
						</div>

					</div>
				</div>
				<div class="product__tab-content">
					<div class="product">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
							<div class="product__item">
								<div class="product__img">
									<img src="assets/images/product5.png" alt="">
								</div>
								<div class="product__info">
									<div class="product__like"></div>
									<div class="product__cart"></div>
									<div class="product__name"><b>Киви,</b> Эквадор</div>
									<div class="product__organic">100% organic</div>
									<div class="product__price">
										<div class="full-price">9,90 руб/кг</div>
										<div class="current-price">2,90 руб</div>
									</div>
								</div>
								<a href="" class="product__link"></a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
							<div class="product__item">
								<div class="product__img">
									<img src="assets/images/product6.png" alt="">
								</div>
								<div class="product__info">
									<div class="product__like"></div>
									<div class="product__cart"></div>
									<div class="product__name"><b>Киви,</b> Эквадор</div>
									<div class="product__organic">100% organic</div>
									<div class="product__price">
										<div class="full-price">9,90 руб/кг</div>
										<div class="current-price">2,90 руб</div>
									</div>
								</div>
								<a href="" class="product__link"></a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
							<div class="product__item">
								<div class="product__img">
									<div class="product__discont">-5%</div>
									<img src="assets/images/product7.png" alt="">
								</div>
								<div class="product__info">
									<div class="product__like"></div>
									<div class="product__cart"></div>
									<div class="product__name"><b>Киви,</b> Эквадор</div>
									<div class="product__organic">100% organic</div>
									<div class="product__price">
										<div class="full-price">9,90 руб/кг</div>
										<div class="current-price">2,90 руб</div>
									</div>
								</div>
								<a href="" class="product__link"></a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
							<div class="product__item">
								<div class="product__img">
									<img src="assets/images/product8.png" alt="">
								</div>
								<div class="product__info">
									<div class="product__like"></div>
									<div class="product__cart"></div>
									<div class="product__name"><b>Киви,</b> Эквадор</div>
									<div class="product__organic">100% organic</div>
									<div class="product__price">
										<div class="full-price">9,90 руб/кг</div>
										<div class="current-price">2,90 руб</div>
									</div>
								</div>
								<a href="" class="product__link"></a>
							</div>
						</div>
					</div>
				</div>
				<div class="product__tab-content">
					<div class="product">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
							<div class="product__item">
								<div class="product__img">
									<img src="assets/images/product6.png" alt="">
								</div>
								<div class="product__info">
									<div class="product__like"></div>
									<div class="product__cart"></div>
									<div class="product__name"><b>Киви,</b> Эквадор</div>
									<div class="product__organic">100% organic</div>
									<div class="product__price">
										<div class="full-price">9,90 руб/кг</div>
										<div class="current-price">2,90 руб</div>
									</div>
								</div>
								<a href="" class="product__link"></a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
							<div class="product__item">
								<div class="product__img">
									<img src="assets/images/product5.png" alt="">
								</div>
								<div class="product__info">
									<div class="product__like"></div>
									<div class="product__cart"></div>
									<div class="product__name"><b>Киви,</b> Эквадор</div>
									<div class="product__organic">100% organic</div>
									<div class="product__price">
										<div class="full-price">9,90 руб/кг</div>
										<div class="current-price">2,90 руб</div>
									</div>
								</div>
								<a href="" class="product__link"></a>
							</div>
						</div>

						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
							<div class="product__item">
								<div class="product__img">
									<img src="assets/images/product7.png" alt="">
								</div>
								<div class="product__info">
									<div class="product__like"></div>
									<div class="product__cart"></div>
									<div class="product__name"><b>Киви,</b> Эквадор</div>
									<div class="product__organic">100% organic</div>
									<div class="product__price">
										<div class="full-price">9,90 руб/кг</div>
										<div class="current-price">2,90 руб</div>
									</div>
								</div>
								<a href="" class="product__link"></a>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
							<div class="product__item">
								<div class="product__img">
									<div class="product__discont">-5%</div>
									<img src="assets/images/product8.png" alt="">
								</div>
								<div class="product__info">
									<div class="product__like"></div>
									<div class="product__cart"></div>
									<div class="product__name"><b>Киви,</b> Эквадор</div>
									<div class="product__organic">100% organic</div>
									<div class="product__price">
										<div class="full-price">9,90 руб/кг</div>
										<div class="current-price">2,90 руб</div>
									</div>
								</div>
								<a href="" class="product__link"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
