.main-products {
	padding-top: 110px;
	padding-bottom: 110px;

	@media (max-width: 991px) {
		padding-top: 70px;
		padding-bottom: 70px;
	}

	@media (max-width: 991px) {
		padding-top: 50px;
		padding-bottom: 30px;
	}

	@media (max-width: 575px) {
		.product__tabs {
			align-items: center;
		}
	}
}

.product {
	display: flex;
	flex-wrap: wrap;
	//align-items: flex-start;
	align-items: stretch;
	justify-content: flex-start;
	width: 100%;
	margin-bottom: 6px;

	&__img {
		position: relative;
		overflow: hidden;
		width: 100%;
		height: 205px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 24px 24px 0 0;
		flex-shrink: 0;

		img {
			position: absolute;
			min-width: 100%;
			min-height: 100%;
		}
	}

	&__discont {
		font-family: 'Gilda Display', serif;
		color: $black;
		font-size: 16px;
		letter-spacing: 0.03em;
		position: absolute;
		width: 40px;
		height: 40px;
		background: #ffe03a;
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
		border-radius: 100%;
		z-index: 2;
		display: flex;
		align-items: center;
		justify-content: center;
		left: 21px;
		top: 17px;
	}

	&__item {
		display: flex;
		flex-direction: column;
		width: 100%;
		background-color: #fff;
		margin-bottom: 30px;
		border-radius: 24px;
		position: relative;
		min-height: calc(100% - 30px);

		@media (max-width: 575px) {
			width: 255px;
			margin-left: auto;
			margin-right: auto;
			max-width: 100%;
		}

		&::before {
			content: " ";
			position: absolute;
			width: 100%;
			height: 81%;
			left: 0;
			top: 0;
			box-shadow: 0 2px 9px rgba(0, 0, 0, 0.14);
			border-radius: 24px;
		}
	}

	&:last-child,
	&:nth-child(4n) {
		margin-right: 0;
	}

	&__name {
		color: $purple;
		text-align: center;
		margin-bottom: 9px;
		width: 100%;
		word-break: break-word;
	}

	&__info {
		padding-top: 33px;
		padding-bottom: 16px;
		padding-left: 12px;
		padding-right: 8px;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-end;
		position: relative;
		background-color: #fff;
		border-radius: 0 0 24px 24px;
		flex-grow: 2;
	}

	&__organic {
		letter-spacing: 0.03em;
		font-weight: 500;
		font-size: 12px;
		color: $green;
		margin-top: auto;

		&::before {
			content: '';
			width: 16px;
			height: 16px;
			background-image: url('../images/icons/eco.svg');
			-webkit-background-size: 100%;
			background-size: 100%;
			background-position: center;
			display: block;
			float: left;
			margin-right: 7px;
		}
	}

	&__price {
		text-align: right;
		margin-left: auto;

		.full-price {
			font-weight: 600;
			font-size: 12px;
			color: $light-purple;
		}

		.current-price {
			font-weight: 600;
			font-size: 18px;
			color: $purple;
			letter-spacing: 0.03em;
		}
	}

	&__like,
	&__cart {
		width: 40px;
		height: 40px;
		position: absolute;
		top: -20px;
		border-radius: 100%;
		background-position: center;
		-webkit-background-size: 100%;
		background-size: 100%;
		cursor: pointer;
		z-index: 2;
		transition: 0.3s;
		box-shadow: 0 4px 4px rgba(0, 0, 0, 0.08);
	}

	&__like {
		background-image: url('../images/icons/like.svg');
		left: 21px;

		&:hover,
		&.active {
			background-image: url('../images/icons/like-checked.svg');
		}
	}

	&__cart {
		background-image: url('../images/icons/cart-white.svg');
		right: 20px;
		opacity: 1;
		background-size: 40%;
		background-repeat: no-repeat;
		background-position: 50% 40%;
		background-color: transparentize($green, 0.4);
		transition: all 0.3s, background 0s;
		font-size: 0;

		&:hover {
			opacity: 1;
			background-color: transparent;
			-webkit-background-size: 100%;
			background-size: 100%;
			background-image: url('../images/icons/cart.svg');
		}

		&.active {
			background-image: none;
			font-size: 14px;
			opacity: 1;
			white-space: nowrap;
			box-shadow: none;
			display: flex;
			align-items: center;
			justify-content: center;
			top: -13px;
			color: #fff;
			background-color: rgba(21, 132, 26, 1);
			border-radius: 50px;
			width: auto;
			padding: 0 15px;
			height: 30px;
		}
	}

	&__link {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		border-radius: 24px;
	}

	&__tabs {
		display: flex;
		align-items: center;
	}

	&__tab-title {
		font-weight: bold;
		font-size: 24px;
		color: $light-purple;
		cursor: pointer;
		margin-right: 30px;
		margin-top: 15px;
		transition: color 0.3s;
		user-select: none;

		@media (max-width: 991px) {
			font-size: 18px;
			margin-right: 20px;
			line-height: 1;
		}

		@media (max-width: 767px) {
			font-size: 16px;
		}

		@media (max-width: 575px) {
			text-align: center;
			margin-right: 0;
		}

		&:hover {
			color: $purple;
		}

		&:last-child {
			margin-right: 0;
		}

		&.active {
			font-size: 70px;
			color: $purple;
			margin-top: 0;

			@media (max-width: 991px) {
				font-size: 36px;
			}

			@media (max-width: 767px) {
				font-size: 30px;
				margin-top: 15px;
			}
		}
	}

	&__tab-content {
		display: none;
		position: absolute;

		&.active {
			display: block;
			position: relative;
		}
	}
}

.link-in-catalog {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 44px;

	@media (max-width: 575px) {
		flex-direction: column;
		margin-bottom: 15px;
	}

	.btn {
		margin-top: 5px;

		@media (max-width: 767px) {
			font-size: 14px;
			padding: 15px 20px;
		}

		@media (max-width: 575px) {
			padding: 15px;
			font-size: 12px;
		}
	}
}
