@@include('../blocks/head/head.html')
<section class="header-menu header-menu--login">
	<div class="container">
		<div class="row">
			<a href="" class="header__logo">
				<img src="assets/images/logo-header.png" alt="">
			</a>
			<div class="footer__phone">
				<a href="" class="footer__phone-icon">+ 375 (29) 343-55-44</a>
			</div>
			<ul>
				<li><a href="">Каталог</a></li>
				<li><a href="">Доставка</a></li>
				<li><a href="">Оплата</a></li>
				<li><a href="">Как это работает</a></li>
				<li><a href="">Отзывы</a></li>
				<li><a href="">Контакты</a></li>
			</ul>
			<div class="header__cart"><i></i>0,00 byn</div>
			<div data-fancybox data-src="#logout-popup"  class="header__profile"><i></i>User</div>

			<div class="hamburger">
				<div class="hamburger__box">
					<div class="hamburger__inner"></div>
				</div>
			</div>
		</div>
	</div>
	<div id="mobile-menu" class="mobile-menu">
		<div class="container">
			<div class="row"></div>
		</div>
	</div>
</section>
<main class="product-page">
	@@include('../blocks/inner-header__cart/inner-header__cart.html')
	@@include('../blocks/cart-page/cart-page.html')
	@@include('../blocks/insta-slider/insta-slider.html')
</main>
@@include('../blocks/footer/footer.html')

