@@include('../blocks/head/head.html')
@@include('../blocks/header-menu-login/header-menu-login.html')
<main class="catalog-page">
	@@include('../blocks/inner-header/inner-header.html')
	<div class="container">
		<div class="row">
			@@include('../blocks/left-menu/left-menu.html')
			@@include('../blocks/catalog-items/catalog-items.html')

		</div>
	</div>
	@@include('../blocks/bonus__inner/bonus__inner.html')
	@@include('../blocks/insta-slider/insta-slider.html')
</main>
@@include('../blocks/footer/footer.html')

