@@include('../blocks/head/head.html')
<section class="header-menu header-menu--login">
<div class="container">
	<div class="row">
		<a href="" class="header__logo">
			<img src="assets/images/logo-header.png" alt="">
		</a>
		<div class="footer__phone">
			<a href="" class="footer__phone-icon">+ 375 (29) 343-55-44</a>
		</div>
		<ul>
			<li><a href="">Каталог</a></li>
			<li><a href="">Доставка</a></li>
			<li><a href="">Оплата</a></li>
			<li><a href="">Как это работает</a></li>
			<li><a href="">Отзывы</a></li>
			<li><a href="" class="active">Контакты</a></li>
		</ul>
		<div class="header__cart"><i></i>0,00 byn</div>
		<div data-fancybox data-src="#logout-popup"  class="header__profile"><i></i>User</div>

		<div class="hamburger">
			<div class="hamburger__box">
				<div class="hamburger__inner"></div>
			</div>
		</div>
	</div>
</div>
<div id="mobile-menu" class="mobile-menu">
	<div class="container">
		<div class="row"></div>
	</div>
</div>
</section>
<main>
	<section class="inner-header inner-header__product" style="background-image: url(assets/images/header-inner1.png)">
		<div class="container">
			<div class="row">
				<ul class="breadcrumbs">
					<li>
						<a href="">Главная</a>
					</li>
					<li>
						<span>Контакты</span>
					</li>
				</ul>
				<div class="inner-header__category">
					<div class="row">
						<a href="" class="back"></a>
						<div class="main-title">
							Контакты </div>


					</div>
				</div>
			</div>
		</div>
	</section>
	@@include('../blocks/contacts-page/contacts-page.html')
	@@include('../blocks/insta-slider/insta-slider.html')
</main>
@@include('../blocks/footer/footer.html')

