@@include('../blocks/head/head.html')
<section class="header-menu header-menu--login">
	<div class="container">
		<div class="row">
			<a href="" class="header__logo">
				<img src="assets/images/logo-header.png" alt="">
			</a>
			<div class="footer__phone">
				<a href="" class="footer__phone-icon">+ 375 (29) 343-55-44</a>
			</div>
			<ul>
				<li><a href="">Каталог</a></li>
				<li><a href="">Доставка</a></li>
				<li><a href="">Оплата</a></li>
				<li><a href="">Как это работает</a></li>
				<li><a href="">Отзывы</a></li>
				<li><a href="">Контакты</a></li>
			</ul>
			<div class="header__cart"><i></i>0,00 byn</div>
			<div data-fancybox data-src="#logout-popup"  class="header__profile"><i></i>User</div>

			<div class="hamburger">
				<div class="hamburger__box">
					<div class="hamburger__inner"></div>
				</div>
			</div>
		</div>
	</div>
	<div id="mobile-menu" class="mobile-menu">
		<div class="container">
			<div class="row"></div>
		</div>
	</div>
</section>

<main>
	<section class="inner-header inner-header__product inner-header--login"
			 style="background-image: url(assets/images/favorite-bg.png)">
		<div class="container">
			<div class="row">
				<ul class="breadcrumbs">
					<li>
						<a href="">Главная</a>
					</li>
					<li>
						<a href="">Мой Аккаунт</a>
					</li>
					<li>
						<span>История</span>
					</li>

				</ul>
				<div class="inner-header__category">
					<div class="row">
						<a href="" class="back"></a>
						<div class="main-title">
							История
						</div>
						<div class="inner-header__slider slider-init swiper-slider">
							<div class="swiper-arrow swiper-prev">
								<i></i>
							</div>
							<div class="swiper-container">
								<div class="swiper-wrapper">
									<a href="" class="swiper-slide login-link">Мой аккаунт</a>
									<a href="" class="swiper-slide login-link">История</a>
									<a href="" class="swiper-slide login-link">Избранное</a>
									<a href="" class="swiper-slide logout-link"><i></i> Выход</a>
								</div>
							</div>
							<div class="swiper-arrow swiper-next">
								<i></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	@@include('../blocks/history-page/history-page.html')
	@@include('../blocks/insta-slider/insta-slider.html')
</main>
@@include('../blocks/footer/footer.html')

