@@include('../blocks/head/head.html')
@@include('../blocks/header-menu/header-menu.html')
<main>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<div class="container">
		<div class="row">
			<ul>
				<li>
					<a href="main.html">Главная</a>
				</li>
				<li><a href="catalog.html">Каталог</a></li>
				<li><a href="set.html">Наборы</a></li>
				<li><a href="product.html">Товар</a></li>
				<li><a href="cart.html">Корзина</a></li>
				<li><a href="order.html">Оформление заказа</a></li>
				<li><a href="favorite.html">Избранное</a></li>
				<li><a href="account.html">Аккаунт</a></li>
				<li><a href="history.html">История</a></li>
				<li><a href="dispatch.html">Система скидок</a></li>
				<li><a href="delivery.html">Доставка</a></li>
				<li><a href="pay.html">Оплата</a></li>
				<li><a href="reviews.html">Отзывы</a></li>
				<li><a href="contacts.html">Контакты</a></li>
				<li><a href="howItWorks.html">Как это работает</a></li>
				<li><a href="register.html">Регистрация</a></li>
				<li><a href="register2.html">Регистрация юр лица</a></li>
				<li><a href="add-review.html">Добавить отзыв</a></li>
			</ul>
		</div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
</main>
@@include('../blocks/footer/footer.html')

