@@include('../blocks/head/head.html')
@@include('../blocks/header-menu/header-menu.html')
<main>
	<section class="inner-header inner-header__product inner-header--login register-header"
			 style="background-image: url(assets/images/favorite-bg.png)">
		<div class="container">
			<div class="row">
				<ul class="breadcrumbs">
					<li>
						<a href="">Главная</a>
					</li>
					<li>
						<a href="">Мой Аккаунт</a>
					</li>
					<li>
						<span>Регистрация</span>
					</li>

				</ul>
				<div class="inner-header__category">
					<div class="row">
						<a href="" class="back"></a>
						<div class="main-title">
							Регистрация
						</div>
						<div class="inner-header__slider swiper-slider">
							<div class="swiper-arrow swiper-prev">
								<i></i>
							</div>
							<div class="swiper-container">
								<div class="swiper-wrapper">
									<a href="" class="swiper-slide login-link">Физическое лицо</a>
									<a href="" class="swiper-slide login-link active">Юридическое лицо</a>
								</div>
							</div>
							<div class="swiper-arrow swiper-next">
								<i></i>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="favorite-page account-page register-page">
		<div class="container">
			<div class="row">
				<div class="account-page__form">
					<div class="form__title">Данные юр.лица</div>
					<div class="form__item">
						<div class="title">Телефон*</div>
						<input type="text" class="phone" placeholder="Телефон*">
					</div>
					<div class="form__item">
						<div class="title">Email*</div>
						<input type="text" placeholder="Email*">
					</div>
					<div class="form__item">
						<div class="title">ФИО</div>
						<input type="text" placeholder="ФИО">
					</div>
					<div class="form__item">
						<div class="title">Название компании</div>
						<input type="text" placeholder="Название компании">
					</div>
					<div class="form__item">
						<div class="title">Адрес</div>
						<input type="text" placeholder="Адрес">
					</div>
					<div class="form__item">
						<div class="title">УНП</div>
						<input type="text" placeholder="УНП">
					</div>
				</div>

				<div class="account-page__form">
					<div class="form__title">Пароль</div>
					<div class="form__item password hide">
						<div class="title">Придумайте пароль</div>
						<input type="password" value="">
						<div class="show-password"></div>
					</div>
					<div class="form__item password hide">
						<div class="title">Повторите пароль</div>
						<input type="password">
						<div class="show-password"></div>
					</div>
					<div class="form__item form__item--check">
						<label class="checkbox">Согласен с условиями &nbsp; <a href="#"> Лицензионного соглашения</a>
							<input type="checkbox" checked>
							<span class="checkmark"></span>
						</label>
					</div>
					<div data-fancybox data-src="#account-popup" class="btn">Создать аккаунт</div>
				</div>
			</div>
		</div>
	</section>

	@@include('../blocks/insta-slider/insta-slider.html')
</main>
@@include('../blocks/footer/footer.html')

