<section class="product-recomendation">
	<div class="container">
		<div class="row">
			<div class="main-title">Рекомендуем</div>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
					<div class="product__item">
						<div class="product__img">
							<div class="product__discont">-5%</div>
							<img src="assets/images/product1.png" alt="">
						</div>
						<div class="product__info">
							<div class="product__like"></div>
							<div class="product__cart"></div>
							<div class="product__name"><b>Киви,</b> Эквадор</div>
							<div class="product__organic">100% organic</div>
							<div class="product__price">
								<div class="full-price">9,90 руб/кг</div>
								<div class="current-price">2,90 руб</div>
							</div>
						</div>
						<a href="" class="product__link"></a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
					<div class="product__item">
						<div class="product__img">
							<div class="product__discont">-5%</div>
							<img src="assets/images/product2.png" alt="">
						</div>
						<div class="product__info">
							<div class="product__like"></div>
							<div class="product__cart"></div>
							<div class="product__name"><b>Киви,</b> Эквадор</div>
							<div class="product__organic">100% organic</div>
							<div class="product__price">
								<div class="full-price">9,90 руб/кг</div>
								<div class="current-price">2,90 руб</div>
							</div>
						</div>
						<a href="" class="product__link"></a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
					<div class="product__item">
						<div class="product__img">
							<div class="product__discont">-5%</div>
							<img src="assets/images/product3.png" alt="">
						</div>
						<div class="product__info">
							<div class="product__like"></div>
							<div class="product__cart"></div>
							<div class="product__name"><b>Киви,</b> Эквадор</div>
							<div class="product__organic">100% organic</div>
							<div class="product__price">
								<div class="full-price">9,90 руб/кг</div>
								<div class="current-price">2,90 руб</div>
							</div>
						</div>
						<a href="" class="product__link"></a>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-3">
					<div class="product__item">
						<div class="product__img">
							<div class="product__discont">-5%</div>
							<img src="assets/images/product4.png" alt="">
						</div>
						<div class="product__info">
							<div class="product__like"></div>
							<div class="product__cart"></div>
							<div class="product__name"><b>Киви,</b> Эквадор</div>
							<div class="product__organic">100% organic</div>
							<div class="product__price">
								<div class="full-price">9,90 руб/кг</div>
								<div class="current-price">2,90 руб</div>
							</div>
						</div>
						<a href="" class="product__link"></a>
					</div>
				</div>
			</div>
			<div class="col-12 d-flex align-items-center justify-content-center">
				<a href="#" id="up" class="up">
					<img src="assets/images/icons/up.svg" alt="">
					Наверх</a>
			</div>
		</div>
	</div>
</section>
