.order-block {
	display: block;
	margin-top: 40px;
	margin-bottom: 40px;

	&__price {
		text-align: right;
		font-weight: 600;
		font-size: 18px;

		@media (max-width: 767px) {
			margin-top: 0;
			font-size: 16px;
		}

		span {
			font-size: 12px;
		}
	}

	&__final {
		padding: 18px 21px;
		background-color: #fff;
		color: $purple;
		letter-spacing: 0.03em;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 7px;

		&.open {
			box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
		}

		& > .order-block__price {
			margin-bottom: 10px;
			width: 100%;
		}

		.btn {
			width: 212px;
			margin-top: 6px;
		}
	}

	&__items {
		column-count: 3;
	}

	&__item {
		margin-bottom: 10px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.07);
		display: flex;
		flex-wrap: wrap;
		padding-bottom: 13px;
		justify-content: space-between;
		align-items: center;
		width: 100%;

		&.hidden {
			display: none;
		}
	}

	&__name {
		line-height: 1;
		max-width: 65%;
		font-size: 16px;

		a {
			color: #4c0d5b;
		}

		@media (max-width: 767px) {
			font-size: 14px;
		}
	}

	&__weight {
		font-size: 14px;
		font-weight: bold;
		width: 100%;
		line-height: 1;
	}
}
