<section class="order-block">

	<div class="container">
		<div class="row order-block__items">
			<!--			<div class="col-12 col-md-6 col-lg-4">-->
			<!--				<div class="form__item">-->
			<!--					<div class="title">ФИО</div>-->
			<!--					<input type="text" placeholder="ФИО">-->
			<!--				</div>-->
			<!--				<div class="form__item">-->
			<!--					<div class="title">Адрес</div>-->
			<!--					<input type="text" placeholder="Адрес">-->
			<!--				</div>-->
			<!--				<div class="form__item">-->
			<!--					<div class="title">Дата доставки</div>-->
			<!--					<input type="text" class="datepicker-here" placeholder="Дата доставки (необязательно)">-->
			<!--				</div>-->
			<!--			</div>-->
			<!--			<div class="col-12 col-md-6 col-lg-4">-->
			<!--				<div class="form__item">-->
			<!--					<div class="title">Телефон</div>-->
			<!--					<input type="text" class="phone" placeholder="Телефон">-->
			<!--				</div>-->
			<!--				<div class="form__item">-->
			<!--					<div class="title">Email</div>-->
			<!--					<input type="text" placeholder="Email">-->
			<!--				</div>-->
			<!--			</div>-->
			<!--			<div class="col-12 col-md-6 col-lg-4">-->
			<!--				<div class="order-block__final">-->
			<!--					<div class="product-title">Товар</div>-->
			<!--					<div class="order-block__item">-->
			<!--						<div class="order-block__name"><b>Гранат,</b> Эквадор</div>-->
			<!--						<div class="order-block__price">10,00 <span>руб</span></div>-->
			<!--						<div class="order-block__weight">1 кг</div>-->
			<!--					</div>-->
			<!--					<div class="order-block__item">-->
			<!--						<div class="order-block__name"><b>Киви,</b> Эквадор</div>-->
			<!--						<div class="order-block__price">6,00 <span>руб</span></div>-->
			<!--						<div class="order-block__weight">200 г</div>-->
			<!--					</div>-->
			<!--					<div class="order-block__item">-->
			<!--						<div class="order-block__name"><b>Грейпфрут,</b> Эквадор</div>-->
			<!--						<div class="order-block__price">7,60 <span>руб</span></div>-->
			<!--						<div class="order-block__weight">340 г</div>-->
			<!--					</div>-->
			<!--					<div class="order-block__price">-->
			<!--						<span>Итого </span> 100,00 <span>руб </span>-->
			<!--					</div>-->
			<!--					<div class="product-title">-->
			<!--						Оплата-->
			<!--					</div>-->
			<!--					<div class="form__item form__item&#45;&#45;check">-->
			<!--						<label class="checkbox">Курьеру наличными-->
			<!--							<input type="radio" name="payment">-->
			<!--							<span class="checkmark"></span>-->
			<!--						</label>-->
			<!--					</div>-->
			<!--					<div class="form__item form__item&#45;&#45;check">-->
			<!--						<label class="checkbox">Курьеру по терминалу-->
			<!--							<input type="radio" checked name="payment">-->
			<!--							<span class="checkmark"></span>-->
			<!--						</label>-->
			<!--					</div>-->
			<!--					<div class="form__item form__item&#45;&#45;check">-->
			<!--						<label class="checkbox">Онлайн-оплата-->
			<!--							<input type="radio" name="payment">-->
			<!--							<span class="checkmark"></span>-->
			<!--						</label>-->
			<!--					</div>-->
			<!--					<div  data-fancybox data-src="#order-popup" class="btn">Подтвердить заказ</div>-->
			<!--				</div>-->
			<!--			</div>-->
		</div>
		<div class="row order-block__items">
			<form id="order_form" novalidate="novalidate" class="col-12">
				<div class="row order-block__items">

					<div class="col-12 col-md-6 col-lg-4">
						<div class="form__item">
							<div class="title">email</div>
							<input name="EMAIL" type="email" placeholder="email" value="" required class="form-input">
						</div>
						<div class="form__item">
							<div class="title">Телефон</div>
							<input id="PHONE" name="PHONE" type="text" placeholder="Телефон" value="" required class="form-input">
						</div>
						<div class="form__item">
							<div class="title">ФИО</div>
							<input name="NAME" type="text" placeholder="ФИО" value="" required="" class="form-input">
						</div>

						<div class="form__item">
							<div class="title">Комментарий</div>
							<textarea name="COMMENT" class="form-input"></textarea>
						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-4">
						<div class="form__inner">
							<div class="form__item full-width">
								<div class="title">Город</div>
								<input name="CITY" type="text" placeholder="Город" value="" required class="form-input">
							</div>
							<div class="form__item full-width">
								<div class="title">Улица</div>
								<input name="STREET" type="text" placeholder="Улица" value="" required class="form-input">
							</div>
							<div class="form__item">
								<div class="title">Дом(корпус)</div>
								<input name="HOUSE" type="text" placeholder="Дом(корпус)" required class="form-input">
							</div>
							<div class="form__item">
								<div class="title">Квартира(офис)</div>
								<input name="FLAT" type="text" placeholder="Квартира(офис)" required class="form-input">
							</div>
						</div>

						<div class="form__item">
							<div class="title">Дата доставки</div>
							<input name="DATE" type="text" placeholder="Дата доставки" value="" required class="form-input">
						</div>
					</div>
					<div class="col-12 col-md-6 col-lg-4">
						<div class="order-block__final">
							<div class="product-title">Товар</div>
							<div class="order-block__item">
								<div class="order-block__name"><b>Авакадо, 1 шт</b></div>
								<div class="order-block__price">7.91 <span>руб</span></div>
								<div class="order-block__weight">
									250 г

								</div>
							</div>
							<div class="order-block__price">
								<span>Итого </span> 7.91 <span> руб </span>
							</div>
							<div class="product-title">
								Оплата
							</div>
							<div class="form__item form__item--check focus">
								<label class="checkbox">Курьеру наличными <input type="radio" checked="" name="payment"
																				 value="3">
									<span class="checkmark"></span>
								</label>
							</div>
							<div class="form__item form__item--check focus">
								<label class="checkbox">Курьеру по терминалу <input type="radio" name="payment"
																					value="4">
									<span class="checkmark"></span>
								</label>
							</div>
							<div class="form__item form__item--check focus">
								<label class="checkbox">Онлайн-оплата <input type="radio" name="payment" value="2">
									<span class="checkmark"></span>
								</label>
							</div>
							<input type="hidden" name="delivery" value="2">
							<input type="submit" value="Подтвердить заказ" class="btn">
							<div id="show_pupup_btn" data-fancybox="" data-src="#order-popup"></div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
