.left-menu {
	display: block;

	&__item {
		margin-bottom: 20px;
		padding-top: 14px;
		padding-left: 22px;
		padding-bottom: 10px;
		padding-right: 22px;
		width: 100%;
		background-color: #fff;
		border-top: 1px solid #f0ecec;
		border-bottom: 1px solid #f0ecec;
		margin-right: 15px;

		@media (max-width: 991px) {
			margin-right: 0;
		}

		.bx-filter-container-modef {
			display: none;
		}
	}

	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding-bottom: 0;
		padding-top: 8px;

		ul {
			display: none;
			width: 100%;
			width: calc(100% + 33px);
			margin-left: -22px;
			margin-right: -11px;
			border-top: 1px solid #f0ecec;

			li {
				padding-top: 6px;
				padding-bottom: 8px;
				width: 100%;
				border-bottom: 1px solid #f0ecec;
				padding-left: 22px;
				padding-right: 11px;
				background-color: #fbf9f9;
				font-weight: 500;
				font-size: 14px;

				&:last-child {
					border-bottom: 0;
				}
			}
		}

		i {
			display: block;
			width: 13px;
			height: 8px;
			cursor: pointer;
			background-image: url(../images/icons/arrow-down-purple.svg);
			background-position: center;
			background-repeat: no-repeat;
			-webkit-background-size: 100%;
			background-size: 100%;
			transition: transform 0.3s;
			margin-top: 2px;
			margin-bottom: 11px;
		}

		&.open {
			i {
				transform: rotate(180deg);
			}
		}
	}

	&__list-title {
		background-color: #fff;
		font-weight: 600;
		font-size: 18px;
		color: $purple;
		width: calc(100% - 16px);
		margin-right: auto;
		cursor: pointer;
		padding-bottom: 11px;
	}

	.form__item {
		margin-bottom: 0;
	}

	&__title {
		margin-bottom: 18px;
		font-weight: 500;
		font-size: 14px;
		color: $purple;
	}

	//price slider
	.price-slider {
		margin-bottom: 30px;

		.irs--flat .irs-handle {
			background: linear-gradient(142deg, #4c0d5b 0%, rgba(131, 22, 157, 0) 115.72%);
			width: 25px;
			height: 25px;
			border-radius: 100%;
			top: 16px;

			i {
				opacity: 0;
			}
		}

		.irs-from,
		.irs-to,
		.irs-single {
			font-weight: 500;
			font-size: 14px;
			background: unset;
			color: #847f7f;
			letter-spacing: 0.03em;
			top: 42px;

			&::before {
				content: none;
			}
		}

		.irs-from,
		.irs-to {
			&::after {
				content: ' pуб';
				letter-spacing: -1.5px;
				margin-left: -2px;
			}
		}

		.irs-min,
		.irs-max {
			display: none;
		}

		.irs-bar {
			background-color: $purple;
			border-radius: 30px;
			height: 7px;
		}

		.irs--flat .irs-line {
			height: 7px;
			width: calc(100% - 24px);
			left: 12px;
		}
	}
}

.smartfilter {
	width: 100%;
}
