<div class="left-menu col-md-12 col-lg-3">
	<div class="row">
		<div class="left-menu__item left-menu__list">
			<div class="left-menu__list-title">Категории</div>
			<i></i>
			<ul>
				<li><a href="">Ананас</a></li>
				<li><a href="">Апельсин</a></li>
				<li><a href="">Банан</a></li>
				<li><a href="">Виноград</a></li>
				<li><a href="">Гренадила</a></li>
				<li><a href="">Гранат</a></li>
				<li><a href="">Грейпфрут</a></li>
				<li><a href="">Груша</a></li>
				<li><a href="">Гуава</a></li>
				<li><a href="">Дыня</a></li>
				<li><a href="">Карамбола</a></li>
				<li><a href="">Каштан</a></li>
				<li><a href="">Кивано</a></li>
				<li><a href="">Киви</a></li>
				<li><a href="">Клементин</a></li>
				<li><a href="">Кокос</a></li>
				<li><a href="">Кумкват</a></li>
				<li><a href="">Лайм</a></li>
				<li><a href="">Лимон</a></li>
				<li><a href="">Личи</a></li>
				<li><a href="">Манго</a></li>
				<li><a href="">Мангостан</a></li>
				<li><a href="">Мандарин</a></li>
				<li><a href="">Маракуйя</a></li>
				<li><a href="">Папайя</a></li>
				<li><a href="">Памело</a></li>
				<li><a href="">Тамарилло</a></li>
				<li><a href="">Тамаринд</a></li>
				<li><a href="">Фейхоа</a></li>
				<li><a href="">Хурма</a></li>
				<li><a href="">Яблоко</a></li>
			</ul>
		</div>
		<div class="left-menu__item">
			<div class="left-menu__title">Цена</div>
			<div class="price-slider">

				<input type="text" class="js-range-slider" name="my_range" value="" data-min="0" data-max="900"/>
			</div>
		</div>
		<div class="left-menu__item">
			<div class="left-menu__title">Производитель</div>
			<div class="form__item">
				<label class="checkbox">Перу
					<input type="checkbox" checked="checked">
					<span class="checkmark"></span>
				</label>
			</div>
			<div class="form__item">
				<label class="checkbox">Эквадор
					<input type="checkbox">
					<span class="checkmark"></span>
				</label>

			</div>
			<div class="form__item">
				<label class="checkbox">Марокко
					<input type="checkbox">
					<span class="checkmark"></span>
				</label>
			</div>
		</div>
	</div>
</div>
