.catalog-sets {
	display: block;
	overflow: hidden;
	margin-right: -95px;
	right: -75px;

	@media (max-width: 1425px) {
		right: -30px;
	}

	@media (max-width: 1366px) {
		right: -10px;
	}

	@media (max-width: 1199px) {
		right: 0;
	}

	@media (max-width: 991px) {
		margin-right: 0;
	}

	& > .row {
		width: calc(100% + 30px);

		.row {
			min-width: 100%;

			@media (max-width: 991px) {
				width: calc(100% + 30px);
			}
		}
	}
}

.catalog-page {
	overflow: hidden;

	.set__item {
		margin-bottom: 27px;
	}
}
