<div class="catalog-items catalog-sets col-md-12 col-lg-10">
	<div class="row">
		<div class="row">
			<div class="col-md-6">
				<div class="set__item">
					<a href="" class="set__link"></a>
					<div class="set__img">
						<img class="lazy" data-src="assets/images/set1.png" alt="">
					</div>
					<div class="set__info">
						<div class="product__like"></div>
						<div class="product__cart"></div>
						<a href="" class="set__name">Желтый фруктовый BOX</a>
						<div class="set__inside">Бананы, яблоки, кукуруза, лимоны</div>
						<div class="set__price">35 руб</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="set__item">
					<a href="" class="set__link"></a>
					<div class="set__img">
						<img class="lazy" data-src="assets/images/set2.png" alt="">
					</div>
					<div class="set__info">
						<div class="product__like"></div>
						<div class="product__cart"></div>
						<a href="" class="set__name">Желтый фруктовый BOX</a>
						<div class="set__inside">Бананы, яблоки, кукуруза, лимоны</div>
						<div class="set__price">35 руб</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="set__item">
					<a href="" class="set__link"></a>
					<div class="set__img">
						<img class="lazy" data-src="assets/images/set3.png" alt="">
					</div>
					<div class="set__info">
						<div class="product__like"></div>
						<div class="product__cart"></div>
						<a href="" class="set__name">Желтый фруктовый BOX</a>
						<div class="set__inside">Бананы, яблоки, кукуруза, лимоны</div>
						<div class="set__price">35 руб</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="set__item">
					<a href="" class="set__link"></a>
					<div class="set__img">
						<img class="lazy" data-src="assets/images/set4.png" alt="">
					</div>
					<div class="set__info">
						<div class="product__like"></div>
						<div class="product__cart"></div>
						<a href="" class="set__name">Желтый фруктовый BOX</a>
						<div class="set__inside">Бананы, яблоки, кукуруза, лимоны</div>
						<div class="set__price">35 руб</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="set__item">
					<a href="" class="set__link"></a>
					<div class="set__img">
						<img class="lazy" data-src="assets/images/set5.png" alt="">
					</div>
					<div class="set__info">
						<div class="product__like"></div>
						<div class="product__cart"></div>
						<a href="" class="set__name">Желтый фруктовый BOX</a>
						<div class="set__inside">Бананы, яблоки, кукуруза, лимоны</div>
						<div class="set__price">35 руб</div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="set__item">
					<a href="" class="set__link"></a>
					<div class="set__img">
						<img class="lazy" data-src="assets/images/set6.png" alt="">
					</div>
					<div class="set__info">
						<div class="product__like"></div>
						<div class="product__cart"></div>
						<a href="" class="set__name">Желтый фруктовый BOX</a>
						<div class="set__inside">Бананы, яблоки, кукуруза, лимоны</div>
						<div class="set__price">35 руб</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="col-12 d-flex align-items-center justify-content-center">
	<a href="#" id="up" class="up">
		<img class="lazy" data-src="assets/images/icons/up.svg" alt="">
		Наверх</a>
</div>
