<section class="favorite-page">
	<div class="container">
		<div class="row">
			<div class="col-12 d-flex flex-wrap">
				<div class="favorite-page__title">
					Общая сумма  Ваших заказов:  <span>2300 руб</span>
				</div>
				<div class="favorite-page__title">
					Ваша скидка:  <span>5%</span>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
				<div class="product__item">
					<div class="product__img">
						<div class="product__discont">-5%</div>
						<img src="assets/images/product1.png" alt="">
					</div>
					<div class="product__info">
						<div class="product__like active"></div>
						<div class="product__cart"></div>
						<div class="product__name"><b>Киви,</b> Эквадор</div>
						<div class="product__organic">100% organic</div>
						<div class="product__price">
							<div class="full-price">9,90 руб/кг</div>
							<div class="current-price">2,90 руб</div>
						</div>
					</div>
					<a href="" class="product__link"></a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
				<div class="product__item">
					<div class="product__img">
						<div class="product__discont">-5%</div>
						<img src="assets/images/product1.png" alt="">
					</div>
					<div class="product__info">
						<div class="product__like  active"></div>
						<div class="product__cart"></div>
						<div class="product__name"><b>Киви,</b> Эквадор</div>
						<div class="product__organic">100% organic</div>
						<div class="product__price">
							<div class="full-price">9,90 руб/кг</div>
							<div class="current-price">2,90 руб</div>
						</div>
					</div>
					<a href="" class="product__link"></a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6  col-lg-4 col-xl-3">
				<div class="product__item">
					<div class="product__img">
						<div class="product__discont">-5%</div>
						<img src="assets/images/product1.png" alt="">
					</div>
					<div class="product__info">
						<div class="product__like active"></div>
						<div class="product__cart"></div>
						<div class="product__name"><b>Киви,</b> Эквадор</div>
						<div class="product__organic">100% organic</div>
						<div class="product__price">
							<div class="full-price">9,90 руб/кг</div>
							<div class="current-price">2,90 руб</div>
						</div>
					</div>
					<a href="" class="product__link"></a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6  col-lg-4 col-xl-3">
				<div class="product__item">
					<div class="product__img">
						<div class="product__discont">-5%</div>
						<img src="assets/images/product1.png" alt="">
					</div>
					<div class="product__info">
						<div class="product__like active"></div>
						<div class="product__cart"></div>
						<div class="product__name"><b>Киви,</b> Эквадор</div>
						<div class="product__organic">100% organic</div>
						<div class="product__price">
							<div class="full-price">9,90 руб/кг</div>
							<div class="current-price">2,90 руб</div>
						</div>
					</div>
					<a href="" class="product__link"></a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6  col-lg-4 col-xl-3">
				<div class="product__item">
					<div class="product__img">
						<div class="product__discont">-5%</div>
						<img src="assets/images/product1.png" alt="">
					</div>
					<div class="product__info">
						<div class="product__like active"></div>
						<div class="product__cart"></div>
						<div class="product__name"><b>Киви,</b> Эквадор</div>
						<div class="product__organic">100% organic</div>
						<div class="product__price">
							<div class="full-price">9,90 руб/кг</div>
							<div class="current-price">2,90 руб</div>
						</div>
					</div>
					<a href="" class="product__link"></a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6  col-lg-4 col-xl-3">
				<div class="product__item">
					<div class="product__img">
						<div class="product__discont">-5%</div>
						<img src="assets/images/product1.png" alt="">
					</div>
					<div class="product__info">
						<div class="product__like active"></div>
						<div class="product__cart"></div>
						<div class="product__name"><b>Киви,</b> Эквадор</div>
						<div class="product__organic">100% organic</div>
						<div class="product__price">
							<div class="full-price">9,90 руб/кг</div>
							<div class="current-price">2,90 руб</div>
						</div>
					</div>
					<a href="" class="product__link"></a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6  col-lg-4 col-xl-3">
				<div class="product__item">
					<div class="product__img">
						<div class="product__discont">-5%</div>
						<img src="assets/images/product1.png" alt="">
					</div>
					<div class="product__info">
						<div class="product__like active"></div>
						<div class="product__cart"></div>
						<div class="product__name"><b>Киви,</b> Эквадор</div>
						<div class="product__organic">100% organic</div>
						<div class="product__price">
							<div class="full-price">9,90 руб/кг</div>
							<div class="current-price">2,90 руб</div>
						</div>
					</div>
					<a href="" class="product__link"></a>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6  col-lg-4 col-xl-3">
				<div class="product__item">
					<div class="product__img">
						<div class="product__discont">-5%</div>
						<img src="assets/images/product1.png" alt="">
					</div>
					<div class="product__info">
						<div class="product__like active"></div>
						<div class="product__cart"></div>
						<div class="product__name"><b>Киви,</b> Эквадор</div>
						<div class="product__organic">100% organic</div>
						<div class="product__price">
							<div class="full-price">9,90 руб/кг</div>
							<div class="current-price">2,90 руб</div>
						</div>
					</div>
					<a href="" class="product__link"></a>
				</div>
			</div>
		</div>
	</div>
</section>
