.favorite-page {
	display: block;
	margin-top: 40px;
	margin-bottom: 30px;

	@media (max-width: 767px) {
		margin-top: 30px;
		margin-bottom: 20px;
	}

	& > .container {
		@media (min-width: 576px) {
			padding: 0;
		}

		@media (max-width: 575px) {
			padding: 0 15px;
		}
	}

	&__title {
		color: $purple;
		font-weight: 500;
		font-size: 20px;
		margin-bottom: 29px;
		margin-right: 74px;

		@media (max-width: 767px) {
			font-size: 18px;
			margin-bottom: 20px;
		}

		@media (max-width: 575px) {
			margin-bottom: 10px;
			font-size: 16px;
			margin-right: 0;
			width: 100%;
		}

		&:last-child {
			margin-right: 0;

			@media (max-width: 575px) {
				margin-bottom: 30px;
			}
		}

		span {
			font-size: 24px;
			font-weight: 600;
			color: #fd4883;

			@media (max-width: 767px) {
				font-size: 20px;
			}

			@media (max-width: 575px) {
				margin-bottom: 15px;
				font-size: 18px;
			}
		}
	}
}
