<section class="bonus bonus__inner">
	<div class="container">
		<div class="row d-flex align-items-center justify-content-between">

			<div class="bonus__info d-flex flex-column">
				<div class="main-title">
					Больше фруктов - больше бонусов
				</div>
			</div>

			<div class="bonus__desc">
				<p>% от стоимости покупки начисляется бонусами</p>
				<div>
					1 бонус = 1 рубль
				</div>

				<p>до 100% стоимости товара можно оплатить бонусными баллами</p>
			</div>

		</div>
	</div>
</section>
