<section class="set">
	<div class="container-fluid">
		<div class="row">
			<div class="set__items">
				<div class="col-sm-12 col-md-6 col-lg-4">
					<div class="set__item">
						<a href="" class="set__link"></a>
						<div class="set__img">
							<img src="assets/images/set1.png" alt="">
						</div>
						<div class="set__info">
							<div class="product__like"></div>
							<div class="product__cart"></div>
							<a href="" class="set__name">Желтый фруктовый BOX</a>
							<div class="set__inside">Бананы, яблоки, кукуруза, лимоны</div>
							<div class="set__price">35 руб</div>
						</div>

					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4">
					<div class="set__item">
						<a href="" class="set__link"></a>
						<div class="set__img">
							<img src="assets/images/set2.png" alt="">
						</div>
						<div class="set__info">
							<div class="product__like"></div>
							<div class="product__cart"></div>
							<a href="" class="set__name">Желтый фруктовый BOX</a>
							<div class="set__inside">Бананы, яблоки, кукуруза, лимоны</div>
							<div class="set__price">35 руб</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4">
					<div class="set__item">
						<a href="" class="set__link"></a>
						<div class="set__img">
							<img src="assets/images/set3.png" alt="">
						</div>
						<div class="set__info">
							<div class="product__like"></div>
							<div class="product__cart"></div>
							<a href="" class="set__name">Желтый фруктовый BOX</a>
							<div class="set__inside">Бананы, яблоки, кукуруза, лимоны</div>
							<div class="set__price">35 руб</div>
						</div>
					</div>
				</div>
				<div class="col-12">
					<div class="container">

						<div class="link-in-catalog">
							<div class="main-title">Наши боксы</div>
							<a href="" class="btn">Перейти в каталог <i></i></a>
						</div>

					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4">
					<div class="set__item">
						<a href="" class="set__link"></a>
						<div class="set__img">
							<img src="assets/images/set4.png" alt="">
						</div>
						<div class="set__info">
							<div class="product__like"></div>
							<div class="product__cart"></div>
							<a href="" class="set__name">Желтый фруктовый BOX</a>
							<div class="set__inside">Бананы, яблоки, кукуруза, лимоны</div>
							<div class="set__price">35 руб</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4">
					<div class="set__item">
						<a href="" class="set__link"></a>
						<div class="set__img">
							<img src="assets/images/set5.png" alt="">
						</div>
						<div class="set__info">
							<div class="product__like"></div>
							<div class="product__cart"></div>
							<a href="" class="set__name">Желтый фруктовый BOX</a>
							<div class="set__inside">Бананы, яблоки, кукуруза, лимоны</div>
							<div class="set__price">35 руб</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-4">
					<div class="set__item">
						<a href="" class="set__link"></a>
						<div class="set__img">
							<img src="assets/images/set6.png" alt="">
						</div>
						<div class="set__info">
							<div class="product__like"></div>
							<div class="product__cart"></div>
							<a href="" class="set__name">Желтый фруктовый BOX</a>
							<div class="set__inside">Бананы, яблоки, кукуруза, лимоны</div>
							<div class="set__price">35 руб</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
