.set {
	display: block;
	padding-top: 22px;
	background-color: #fff;
	padding-bottom: 30px;

	&__items {
		display: flex;
		flex-wrap: wrap;
		width: 100%;

		@media (min-width: 1441px) {
			width: 1422px;
			margin: 0 auto;
		}

		@media (max-width: 991px) {
			justify-content: center;
		}
	}

	&__img {
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		overflow: hidden;
		transition: transform 0.3s;

		img {
			position: absolute;
			min-height: 100%;
			min-width: 100%;
		}
	}

	&__item {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 444px;
		overflow: hidden;

		&:hover {
			opacity: 1;

			.set__img {
				transform: scale(1.1);
			}
		}

		@media (max-width: 991px) {
			height: 400px;
			margin-bottom: 30px;
		}

		@media (max-width: 400px) {
			height: 350px;
			margin-bottom: 20px;
		}
	}

	&__link {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	&__name {
		text-align: center;
		font-weight: bold;
		font-size: 16px;
		letter-spacing: 0.03em;
		margin-bottom: 10px;
		width: 100%;
		color: #000;
	}

	&__info {
		background: #fff;
		border-radius: 24px;
		position: absolute;
		top: 240px;
		padding-top: 34px;
		padding-bottom: 26px;
		width: 255px;
		display: flex;
		flex-wrap: wrap;
		z-index: 2;

		@media (max-width: 575px) {
			top: 170px;
		}

		@media (max-width: 400px) {
			top: 150px;
		}
	}

	&__inside {
		width: 58%;
		color: #7e7e7e;
		font-weight: 500;
		font-size: 11px;
		letter-spacing: 0.03em;
		padding-left: 12px;
	}

	&__price {
		margin-left: auto;
		width: 30%;
		color: $purple;
		letter-spacing: 0.03em;
		font-weight: 600;
		font-size: 18px;
		text-align: right;
		padding-right: 12px;
	}

	.link-in-catalog {
		margin-bottom: 0;

		@media (max-width: 575px) {
			margin-bottom: 30px;
		}
	}
}
