<div class="dialogs">

</div>

<div id="login-popup" class="popup popup--login">
	<div class="popup__title">Вход</div>
	<div class="form__item">
		<div class="title">Логин</div>
		<input type="text">
	</div>
	<div class="form__item">
		<div class="title">Пароль</div>
		<input type="password">
		<div class="show-password"></div>
	</div>
	<div class="popup__item">
		<a data-fancybox data-src="#restore-popup" href="javascript:;" >Забыли пароль?</a>
		<div class="btn">Вход</div>
	</div>

	<div class="popup__item register">
		<span>Еще нет аккаунта?</span>
		<a href="" class="btn btn--white">Регистрация</a>
	</div>
</div>

<div id="restore-popup" class="popup popup--restore">
	<div class="popup__title">Восстановление <br>
		пароля</div>
	<div class="form__item">
		<div class="title">Email</div>
		<input type="text">
	</div>
	<a data-fancybox data-src="#restore-popup2" href="javascript:;" class="btn">Сбросить пароль</a>
	<a href="javascript:;" data-fancybox data-src="#login-popup" class="btn btn--white">Вход</a>
</div>

<div id="restore-popup2" class="popup popup--restore popup--restore-second">
	<div class="popup__title">Восстановление <br>
		пароля</div>
	<p>Мы отправили Вам письмо для <br> сброса пароля на почтовый ящик.</p>
	<p>Пожалуйста, перейдите по ссылке <br> в письме и задайте новый пароль.</p>
	<a href="javascript:;" data-fancybox data-src="#login-popup" class="btn btn--white">Вход</a>
</div>

<div id="order-popup" class="popup popup--restore popup--order">
	<div class="popup__title">Заказ
		 <br>подтвержден
	</div>
	<p>
		Спасибо за Ваш заказ! <br> Наш менеджер свяжется <br>
		с Вами в течении часа <br>
		после оформления заказа!
	</p>
	<div class="btn btn--white btn--close">Ок</div>
</div>
<div id="account-popup" class="popup popup--restore popup--account">
	<div class="popup__title">Аккаунт создан
	</div>
	<p>
		Спасибо за регистарцию!
	</p>
	<a href="#" class="btn btn--white btn--close">Ок</a>
</div>
<div id="logout-popup" class="popup popup--restore popup--logout">
	<div class="popup__title">Выйти <br>
		из аккаунта?
	</div>
	<a href="" class="btn">Выйти</a>
	<div class=" btn btn--white btn--close">Отмена</div>
</div>
<div id="request-popup" class="popup popup--request">
	<div class="popup__title">Заявка на <br> сотрудничество</div>
	<div class="form__item">
		<div class="title">Имя</div>
		<input type="text">
	</div>
	<div class="form__item">
		<div class="title">E-mail</div>
		<input type="email">
	</div>

	<div class="form__item">
		<div class="title">Телефон</div>
		<input type="tel" class="phone">
	</div>
	<div class="popup__item">
		<div class="btn">Отправить</div>
	</div>

</div>
