.dialogs {
	display: block;
}

.popup {
	display: none;
	padding: 39px 159px 30px 29px;
	background-position: center right;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;

	&__title {
		font-weight: bold;
		font-size: 50px;
		line-height: 100%;
		color: $purple;
		margin-bottom: 43px;

		@media (max-width: 767px) {
			font-size: 30px;
			margin-bottom: 20px;

			br {
				display: none;
			}
		}
	}

	.auth_err_mess {
		font-size: 15px;
		margin-bottom: 15px;
		font-weight: 300;

		&.err {
			color: red;
		}
	}

	@media (max-width: 767px) {
		padding: 25px;
		background-position: center left;
		-webkit-background-size: 150%;
		background-size: 150% 100%;
	}

	p {
		font-weight: 500;
		font-size: 15px;
		color: $purple;
		margin-bottom: 40px;

		@media (max-width: 767px) {
			margin-bottom: 30px;

			br {
				display: none;
			}
		}
	}

	&--login {
		background-image: url(../images/login-popup.png);
	}

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-bottom: 28px;
		margin-right: 0;

		.title {
			font-weight: 500;
		}

		a {
			border-bottom: 1px solid $purple;
			color: $purple;
			font-weight: 500;
			font-size: 14px;
			line-height: 1;
		}

		.btn {
			border-bottom: 0;
			width: 158px;
			display: block;

			@media (max-width: 575px) {
				width: 140px;
			}

			&--white {
				width: 215px;
				color: $purple;
				height: 45px;
				font-weight: bold;
				line-height: 77%;
			}
		}

		&.register {
			margin-bottom: 0;
			align-items: center;

			span {
				font-weight: 500;
				font-size: 12px;
				color: $purple;
			}
		}
	}

	&--request {
		background-image: url(../images/login-popup.png);

		.popup__item {
			margin-top: 25px;
		}
	}

	&--restore {
		background-image: url(../images/restore-popup.png);

		.btn {
			display: block;
			margin-left: 50px;
			width: 260px;
			margin-bottom: 57px;

			@media (max-width: 767px) {
				margin-left: auto;
				margin-right: auto;
				max-width: 100%;
			}

			&--white {
				margin-bottom: 0;
				width: 158px;
				margin-left: 100px;
				line-height: 53%;

				@media (max-width: 767px) {
					margin-left: auto;
					margin-right: auto;
				}
			}
		}

		&-second {
			.btn {
				&--white {
					margin-left: 0;
				}
			}
		}
	}

	&--order {
		.popup__title {
			margin-bottom: 20px;
		}

		p {
			margin-bottom: 77px;

			@media (max-width: 767px) {
				margin-bottom: 40px;
			}
		}

		.btn {
			margin-left: 0;
		}
	}

	&--account {
		.popup__title {
			margin-bottom: 20px;
		}

		p {
			margin-bottom: 210px;

			@media (max-width: 767px) {
				margin-bottom: 70px;
			}
		}

		.btn {
			margin-left: 0;
		}
	}

	&--logout {
		p {
			margin-bottom: 66px;

			@media (max-width: 767px) {
				margin-bottom: 30px;
			}
		}

		.btn {
			margin-left: 0;
			width: 181px;
			margin-bottom: 15px;
			height: 45px;
			line-height: 70%;

			&--white {
				margin-bottom: 70px;

				@media (max-width: 767px) {
					margin-bottom: 30px;
				}
			}
		}
	}

	.form__item {
		box-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
		width: 350px;
		margin-bottom: 15px;
		max-width: 100%;
	}
}

.fancybox-slide--html .fancybox-close-small {
	color: #fff;
	color: #333;
	opacity: 1;
}
