<section class="favorite-page account-page">
	<div class="container">
		<div class="row">
			<div class="col-12 d-flex flex-wrap">
				<div class="favorite-page__title">
					Общая сумма Ваших заказов: <span>2300 руб</span>
				</div>
				<div class="favorite-page__title">
					Ваша скидка: <span>5%</span>
				</div>
			</div>
			<div class="account-page__form">
				<div class="form__title">Персональные данные</div>
				<div class="form__item">
					<div class="title">Телефон*</div>
					<input type="text" class="phone" placeholder="Телефон*">
				</div>
				<div class="form__item">
					<div class="title">Email*</div>
					<input type="text" placeholder="Email*">
				</div>
				<div class="form__item">
					<div class="title">ФИО</div>
					<input type="text" placeholder="ФИО">
				</div>
				<div class="form__item">
					<div class="title">Адрес</div>
					<input type="text" placeholder="Адрес">
				</div>
			</div>

			<div class="account-page__form">
				<div class="form__title">Изменить пароль</div>
				<div class="form__item password hide">
					<div class="title">Старый пароль</div>
					<input type="password">
					<div class="show-password"></div>
				</div>
				<div class="form__item password hide">
					<div class="title">
						Новый пароль
					</div>
					<input type="password">
					<div class="show-password"></div>
				</div>
				<div class="form__item password hide">
					<div class="title">Повторите пароль</div>
					<input type="password">
					<div class="show-password"></div>
				</div>
				<div class="btn">Сохранить</div>
			</div>
		</div>
	</div>
</section>
