.account-page {
	&__form {
		padding-left: 15px;
		padding-right: 15px;
		width: 380px;
		max-width: 100%;

		@media (max-width: 991px) {
			width: 500px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.account-page__form {
		margin-right: 85px;

		@media (max-width: 991px) {
			margin-right: auto;
		}

		.btn {
			margin-left: auto;
			width: 147px;
		}

		&:last-child {
			margin-right: 0;

			@media (max-width: 991px) {
				margin-right: auto;
			}
		}
	}
}
